<section id="shopify-section-template--24378188071211__custom-main" class="shopify-section section">
  <section class="ntg-product-detail-intro">
    <div class="ntg-container">
      <div class="ntg-cols">
        <div class="ntg-col">
          <div class="ntg-product-detail-swiper">
            <div class="ntg-main-swiper swiper-container-initialized swiper-container-horizontal">
              <div class="swiper-wrapper" style="transition-duration: 0ms;">
                <div class="swiper-slide">
                  <div class="ntg-swiper-box">
                    <img
                      src="//www.trybetterbrand.com/cdn/shop/files/New_Lungs_1.png?v=1729938860"
                      alt="BetterLungs dietary supplement bottle with 60 capsules, supports lung health and immune function, 30 servings"
                      width="1500"
                      height="1500"
                    >
                  </div>
                </div>

                <div class="swiper-slide">
                  <div class="ntg-swiper-box">
                    <img
                      src="//www.trybetterbrand.com/cdn/shop/files/3_607cefa2-e87d-45d7-95a5-b2ba2ebaef7d.png?v=1729939004"
                      alt="BetterLungs®"
                      width="1500"
                      height="1500"
                    >
                  </div>
                </div>

                <div class="swiper-slide">
                  <div class="ntg-swiper-box">
                    <img
                      src="//www.trybetterbrand.com/cdn/shop/files/4_8ff2a084-980e-4106-a90c-923fd188ebf6.png?v=1718299110"
                      alt="Supplement facts label listing serving size, vitamins, extracts, and other ingredients for BetterLungs® supplement."
                      width="1080"
                      height="1080"
                    >
                  </div>
                </div>

                <div class="swiper-slide">
                  <div class="ntg-swiper-box">
                    <img
                      src="//www.trybetterbrand.com/cdn/shop/files/2_e0db6bed-c8e5-4871-adf7-cab335bd25ab.png?v=1729939004"
                      alt="Betterbrand Better Lungs dietary supplement bottle with 60 capsules"
                      width="1500"
                      height="1500"
                    >
                  </div>
                </div>
              </div>
              <div class="swiper-nav">
                <div
                  class="swiper-button-prev"
                  tabindex="0"
                  role="button"
                  aria-label="Previous slide"
                  aria-disabled="false"
                >
                  <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 14.8">
                    <path d="M19.8 6.8c-.1-.1-.3-.2-.6-.2H2.7L8 1.3c.1-.1.2-.3.2-.5S8.1.4 8 .2C7.8.1 7.6 0 7.4 0c-.2 0-.4.1-.6.2L.2 6.8c-.1.2-.2.4-.2.6 0 .1 0 .2.1.3 0 .1.1.2.2.3l6.6 6.6c.1.1.2.1.3.2.1 0 .2.1.3.1.2 0 .3 0 .4-.1.1-.1.2-.2.3-.4.1-.1.1-.3 0-.5 0-.2-.1-.3-.2-.4L2.7 8.2h16.6c.2 0 .4-.1.6-.2 0-.2.1-.4.1-.6s-.1-.4-.2-.6z" fill="#231f20"></path>
                  </svg>
                </div>
                <div
                  class="swiper-button-next"
                  tabindex="0"
                  role="button"
                  aria-label="Next slide"
                  aria-disabled="false"
                >
                  <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 14.8">
                    <path d="M20 7.4c0-.2-.1-.4-.2-.6L13.2.2c-.2-.1-.4-.2-.6-.2-.2 0-.4.1-.6.2-.1.1-.2.3-.2.6 0 .2.1.4.2.6l5.3 5.3H.8c-.2 0-.4.1-.6.2-.1.1-.2.3-.2.5s.1.4.2.6c.1.1.3.2.6.2h16.6l-5.3 5.3c-.1.1-.2.2-.2.4v.5c.1.1.2.3.3.4.1.1.3.1.4.1.1 0 .2 0 .3-.1.1 0 .2-.1.3-.2L19.8 8c.1-.2.2-.4.2-.6z" fill="#231f20"></path>
                  </svg>
                </div>
              </div>
              <span class="swiper-notification" aria-live="assertive" aria-atomic="true"></span>
            </div>
            <div
              class="ntg-nav-swiper swiper-container-initialized swiper-container-horizontal swiper-container-free-mode swiper-container-thumbs"
              thumbsslider=""
            >
              <div class="swiper-wrapper" style="transition-duration: 0ms;">
                <div class="swiper-slide">
                  <div class="ntg-swiper-box">
                    <img
                      src="//www.trybetterbrand.com/cdn/shop/files/New_Lungs_1_282x282.png?v=1729938860"
                      alt="BETTERBRAND dietary supplement labeled BETTER LUNGS 60 CAPSULES, 30 Servings badge; FOX NEWS, NBC NEWS, CBS NEWS, USA TODAY"
                      width="282"
                      height="282"
                    >
                  </div>
                </div>

                <div class="swiper-slide">
                  <div class="ntg-swiper-box">
                    <img
                      src="//www.trybetterbrand.com/cdn/shop/files/3_607cefa2-e87d-45d7-95a5-b2ba2ebaef7d_282x282.png?v=1729939004"
                      alt="BetterLungs®"
                      width="282"
                      height="282"
                    >
                  </div>
                </div>

                <div class="swiper-slide">
                  <div class="ntg-swiper-box">
                    <img
                      src="//www.trybetterbrand.com/cdn/shop/files/4_8ff2a084-980e-4106-a90c-923fd188ebf6_282x282.png?v=1718299110"
                      alt="Supplement facts label listing serving size, vitamins, extracts, and other ingredients for BetterLungs® supplement."
                      width="282"
                      height="282"
                    >
                  </div>
                </div>

                <div class="swiper-slide">
                  <div class="ntg-swiper-box">
                    <img
                      src="//www.trybetterbrand.com/cdn/shop/files/2_e0db6bed-c8e5-4871-adf7-cab335bd25ab_282x282.png?v=1729939004"
                      alt="BetterBrand Better Lungs dietary supplement bottle with 60 capsules"
                      width="282"
                      height="282"
                    >
                  </div>
                </div>
              </div>
              <span class="swiper-notification" aria-live="assertive" aria-atomic="true"></span>
            </div>
          </div>
        </div>
        <!-- END of first .ntg-col -->
        <div class="ntg-col">
          <product-info
            id="ProductInfo-template--24378188071211__custom-main"
            data-section="template--24378188071211__custom-main"
            data-url="/products/betterlungs"
          >
            <div class="ntg-product-title-hold">
              <h1 class="ntg-h1">BetterLungs®</h1>
            </div>
            <div id="shopify-block-loox_reviews_loox_rating_MVLD8h" class="shopify-block shopify-app-block">
              <a href="#looxReviews">
                <span  class="patrol-sr-only">Go to product reviews, 4.6 out of 5 stars, based on 1,301 reviews</span>
                <div
                  class="loox-rating"
                  data-content-size="16"
                  data-pattern="[rating]/5 based on [count] reviews"
                  data-loox-block-id="loox_reviews_loox_rating_MVLD8h"
                  data-color-text=""
                  data-color-star="#f2cb49"
                  data-id="8872114651435"
                  data-rating="4.6"
                  data-raters="1301"
                  data-testid="loox-rating-widget"
                  title="4.6 rating (1,301 votes)"
                  aria-label="4.6 rating (1,301 votes)"
                  role="figure"
                  data-rating-upgraded="1"
                  style="font-size: 16px;"
                >
                  <div class="loox-rating-content">
                    <svg
                      class="loox-icon"
                      viewBox="0 0 24 24"
                      data-lx-fill="full"
                      style="color: rgb(242, 203, 73);"
                      role="presentation"
                    >
                      <title>4.6 rating (1,301 votes)</title><use href="#looxicons-rating-icon"></use>
                    </svg>
                    <svg
                      class="loox-icon"
                      viewBox="0 0 24 24"
                      data-lx-fill="full"
                      style="color: rgb(242, 203, 73);"
                      aria-hidden="true"
                    >
                      <use href="#looxicons-rating-icon"></use>
                    </svg>
                    <svg
                      class="loox-icon"
                      viewBox="0 0 24 24"
                      data-lx-fill="full"
                      style="color: rgb(242, 203, 73);"
                      aria-hidden="true"
                    >
                      <use href="#looxicons-rating-icon"></use>
                    </svg>
                    <svg
                      class="loox-icon"
                      viewBox="0 0 24 24"
                      data-lx-fill="full"
                      style="color: rgb(242, 203, 73);"
                      aria-hidden="true"
                    >
                      <use href="#looxicons-rating-icon"></use>
                    </svg>
                    <svg
                      class="loox-icon"
                      viewBox="0 0 24 24"
                      data-lx-fill="full"
                      style="color: rgb(242, 203, 73);"
                      aria-hidden="true"
                    >
                      <use href="#looxicons-rating-icon"></use>
                    </svg>
                    <span class="loox-rating-label" aria-hidden="true">&nbsp;4.6/5 based on 1,301 reviews</span>
                  </div>
                </div>
              </a>
            </div>
            <div class="no-js-hidden" id="price-template--24378188071211__custom-main" role="status">
              <div class="ntg-price-holder">
                <div class="ntg-price">$39.95</div>
              </div>
              <div class="hSaleM" style="color: rgb(255, 69, 0); font-size: 0.9em; margin-bottom: 10px;">
                35% off applied at checkout
              </div>
            </div>
            <div class="ntg-text-holder">
              <p>The best Lung Health Support Supplement.</p>
              <ul>
                <li>Helps to clear mucus</li>
                <li>Naturally minimize coughing</li>
                <li>Enhance airway &amp; lung health to breathe easy</li>
                <li>Seasonal sinus &amp; bronchial support</li>
              </ul>
            </div>

            <div class="loop-display-none">Rendering loop-subscriptions</div>

            <script class="loopProductQuickJson-8872114651435" type="application/json">
              {"id":8872114651435,"title":"BetterLungs®","handle":"betterlungs","description":"\u003cdiv class=\"shogun-root\" data-shogun-id=\"65713be66e6e8200c9c9f312\" data-shogun-site-id=\"98317b31-4b14-4050-8a4b-f636e2b329ab\" data-shogun-page-id=\"65713be66e6e8200c9c9f312\" data-shogun-page-version-id=\"65713c832bc26700dbd87725\" data-shogun-platform-type=\"shopify\" data-shogun-variant-id=\"65713c832bc26700dbd87778\" data-shogun-page-type=\"product\" data-shogun-power-up-type=\"\" data-shogun-power-up-id=\"\" data-region=\"main\"\u003e \u003cdiv id=\"s-6b023b97-1f15-4733-a1b4-835a35a3ca15\" class=\"shg-c \"\u003e \u003cdiv class=\"shg-rich-text shg-theme-text-content\"\u003e\u003cp\u003eDetox Blend with Mullein\u003c\/p\u003e\u003c\/div\u003e \u003c\/div\u003e \u003c\/div\u003e","published_at":"2025-02-19T05:36:11-06:00","created_at":"2023-11-14T04:59:52-06:00","vendor":"Betterbrand","type":"","tags":[],"price":3995,"price_min":3995,"price_max":8485,"available":true,"price_varies":true,"compare_at_price":null,"compare_at_price_min":0,"compare_at_price_max":0,"compare_at_price_varies":false,"variants":[{"id":50318075461931,"title":"1-Pack","option1":"1-Pack","option2":null,"option3":null,"sku":"BB-BLUC-CA-AXA1","requires_shipping":true,"taxable":true,"featured_image":{"id":47938407629099,"product_id":8872114651435,"position":1,"created_at":"2024-10-26T05:34:19-05:00","updated_at":"2024-10-26T05:34:20-05:00","alt":null,"width":1500,"height":1500,"src":"\/\/www.trybetterbrand.com\/cdn\/shop\/files\/New_Lungs_1.png?v=1729938860","variant_ids":[50318075461931]},"available":true,"name":"BetterLungs® - 1-Pack","public_title":"1-Pack","options":["1-Pack"],"price":3995,"weight":50,"compare_at_price":null,"inventory_management":"shopify","barcode":"","featured_media":{"alt":null,"id":40111645131051,"position":1,"preview_image":{"aspect_ratio":1.0,"height":1500,"width":1500,"src":"\/\/www.trybetterbrand.com\/cdn\/shop\/files\/New_Lungs_1.png?v=1729938860"}},"requires_selling_plan":false,"selling_plan_allocations":[{"price_adjustments":[{"position":1,"price":3196}],"price":3196,"compare_at_price":3995,"per_delivery_price":3196,"selling_plan_id":114312249643,"selling_plan_group_id":"5128ca517a6f1f3e2404b20989474d72fe1bad98"},{"price_adjustments":[{"position":1,"price":3196}],"price":3196,"compare_at_price":3995,"per_delivery_price":3196,"selling_plan_id":114454298923,"selling_plan_group_id":"5128ca517a6f1f3e2404b20989474d72fe1bad98"}],"quantity_rule":{"min":1,"max":null,"increment":1}},{"id":50318075494699,"title":"3-Pack","option1":"3-Pack","option2":null,"option3":null,"sku":"BB-BLUC-CA-BXA3","requires_shipping":true,"taxable":true,"featured_image":null,"available":true,"name":"BetterLungs® - 3-Pack","public_title":"3-Pack","options":["3-Pack"],"price":8485,"weight":50,"compare_at_price":null,"inventory_management":"shopify","barcode":"","requires_selling_plan":false,"selling_plan_allocations":[{"price_adjustments":[{"position":1,"price":6788}],"price":6788,"compare_at_price":8485,"per_delivery_price":6788,"selling_plan_id":114312249643,"selling_plan_group_id":"5128ca517a6f1f3e2404b20989474d72fe1bad98"},{"price_adjustments":[{"position":1,"price":6788}],"price":6788,"compare_at_price":8485,"per_delivery_price":6788,"selling_plan_id":114454298923,"selling_plan_group_id":"5128ca517a6f1f3e2404b20989474d72fe1bad98"}],"quantity_rule":{"min":1,"max":null,"increment":1}}],"images":["\/\/www.trybetterbrand.com\/cdn\/shop\/files\/New_Lungs_1.png?v=1729938860","\/\/www.trybetterbrand.com\/cdn\/shop\/files\/3_607cefa2-e87d-45d7-95a5-b2ba2ebaef7d.png?v=1729939004","\/\/www.trybetterbrand.com\/cdn\/shop\/files\/4_8ff2a084-980e-4106-a90c-923fd188ebf6.png?v=1718299110","\/\/www.trybetterbrand.com\/cdn\/shop\/files\/2_e0db6bed-c8e5-4871-adf7-cab335bd25ab.png?v=1729939004"],"featured_image":"\/\/www.trybetterbrand.com\/cdn\/shop\/files\/New_Lungs_1.png?v=1729938860","options":["Bundles"],"media":[{"alt":null,"id":40111645131051,"position":1,"preview_image":{"aspect_ratio":1.0,"height":1500,"width":1500,"src":"\/\/www.trybetterbrand.com\/cdn\/shop\/files\/New_Lungs_1.png?v=1729938860"},"aspect_ratio":1.0,"height":1500,"media_type":"image","src":"\/\/www.trybetterbrand.com\/cdn\/shop\/files\/New_Lungs_1.png?v=1729938860","width":1500},{"alt":null,"id":40111652208939,"position":2,"preview_image":{"aspect_ratio":1.0,"height":1500,"width":1500,"src":"\/\/www.trybetterbrand.com\/cdn\/shop\/files\/3_607cefa2-e87d-45d7-95a5-b2ba2ebaef7d.png?v=1729939004"},"aspect_ratio":1.0,"height":1500,"media_type":"image","src":"\/\/www.trybetterbrand.com\/cdn\/shop\/files\/3_607cefa2-e87d-45d7-95a5-b2ba2ebaef7d.png?v=1729939004","width":1500},{"alt":"BetterLungs® - Betterbrand","id":35664943153451,"position":3,"preview_image":{"aspect_ratio":1.0,"height":1080,"width":1080,"src":"\/\/www.trybetterbrand.com\/cdn\/shop\/files\/4_8ff2a084-980e-4106-a90c-923fd188ebf6.png?v=1718299110"},"aspect_ratio":1.0,"height":1080,"media_type":"image","src":"\/\/www.trybetterbrand.com\/cdn\/shop\/files\/4_8ff2a084-980e-4106-a90c-923fd188ebf6.png?v=1718299110","width":1080},{"alt":null,"id":40111652143403,"position":4,"preview_image":{"aspect_ratio":1.0,"height":1500,"width":1500,"src":"\/\/www.trybetterbrand.com\/cdn\/shop\/files\/2_e0db6bed-c8e5-4871-adf7-cab335bd25ab.png?v=1729939004"},"aspect_ratio":1.0,"height":1500,"media_type":"image","src":"\/\/www.trybetterbrand.com\/cdn\/shop\/files\/2_e0db6bed-c8e5-4871-adf7-cab335bd25ab.png?v=1729939004","width":1500}],"requires_selling_plan":false,"selling_plan_groups":[{"id":"5128ca517a6f1f3e2404b20989474d72fe1bad98","name":"Subscription","options":[{"name":"Frequency","position":1,"values":["Deliver every 28 days","Deliver every 56 days"]}],"selling_plans":[{"id":114312249643,"name":"Deliver every 28 Days","description":"\n\u003cul style=\" list-style-type: none; \"\u003e\n      \u003cli\u003e\n        \u003cspan\u003e\u003csvg width=\"12\" height=\"10\" viewBox=\"0 0 12 10\" fill=\"none\" xmlns=\"http:\/\/www.w3.org\/2000\/svg\"\u003e\u003cpath d=\"M11.6855 0.248892C11.2947 -0.106312 10.6871 -0.0784741 10.33 0.314153L4.47391 6.76253L1.64477 3.88638C1.27131 3.50813 0.664605 3.50237 0.287325 3.87486C-0.090924 4.24638 -0.0966854 4.85406 0.275802 5.2323L3.81724 8.83232C3.99869 9.01663 4.24443 9.11936 4.5017 9.11936C4.50746 9.11936 4.51419 9.11936 4.51995 9.12033C4.78491 9.11457 5.03453 9.00128 5.21211 8.80545L11.7507 1.60542C12.1069 1.21177 12.0781 0.605065 11.6855 0.248892Z\" fill=\"#0F1F17\"\/\u003e\u003c\/svg\u003e\u003c\/span\u003e\n        20% off every order\n      \u003c\/li\u003e\n\u003cbr\u003e\n      \u003cli\u003e\n        \u003cspan\u003e\u003csvg width=\"12\" height=\"10\" viewBox=\"0 0 12 10\" fill=\"none\" xmlns=\"http:\/\/www.w3.org\/2000\/svg\"\u003e\u003cpath d=\"M11.6855 0.248892C11.2947 -0.106312 10.6871 -0.0784741 10.33 0.314153L4.47391 6.76253L1.64477 3.88638C1.27131 3.50813 0.664605 3.50237 0.287325 3.87486C-0.090924 4.24638 -0.0966854 4.85406 0.275802 5.2323L3.81724 8.83232C3.99869 9.01663 4.24443 9.11936 4.5017 9.11936C4.50746 9.11936 4.51419 9.11936 4.51995 9.12033C4.78491 9.11457 5.03453 9.00128 5.21211 8.80545L11.7507 1.60542C12.1069 1.21177 12.0781 0.605065 11.6855 0.248892Z\" fill=\"#0F1F17\"\/\u003e\u003c\/svg\u003e\u003c\/span\u003e\n        Pause, Cancel Or Update The Frequency Anytime\n      \u003c\/li\u003e\n\u003cbr\u003e\n      \u003cli\u003e\n        \u003cspan\u003e\u003csvg width=\"12\" height=\"10\" viewBox=\"0 0 12 10\" fill=\"none\" xmlns=\"http:\/\/www.w3.org\/2000\/svg\"\u003e\u003cpath d=\"M11.6855 0.248892C11.2947 -0.106312 10.6871 -0.0784741 10.33 0.314153L4.47391 6.76253L1.64477 3.88638C1.27131 3.50813 0.664605 3.50237 0.287325 3.87486C-0.090924 4.24638 -0.0966854 4.85406 0.275802 5.2323L3.81724 8.83232C3.99869 9.01663 4.24443 9.11936 4.5017 9.11936C4.50746 9.11936 4.51419 9.11936 4.51995 9.12033C4.78491 9.11457 5.03453 9.00128 5.21211 8.80545L11.7507 1.60542C12.1069 1.21177 12.0781 0.605065 11.6855 0.248892Z\" fill=\"#0F1F17\"\/\u003e\u003c\/svg\u003e\u003c\/span\u003e\n        Priority fulfilment\n      \u003c\/li\u003e\n\u003cbr\u003e\n      \u003cli\u003e\n        \u003cspan\u003e\u003csvg width=\"12\" height=\"10\" viewBox=\"0 0 12 10\" fill=\"none\" xmlns=\"http:\/\/www.w3.org\/2000\/svg\"\u003e\u003cpath d=\"M11.6855 0.248892C11.2947 -0.106312 10.6871 -0.0784741 10.33 0.314153L4.47391 6.76253L1.64477 3.88638C1.27131 3.50813 0.664605 3.50237 0.287325 3.87486C-0.090924 4.24638 -0.0966854 4.85406 0.275802 5.2323L3.81724 8.83232C3.99869 9.01663 4.24443 9.11936 4.5017 9.11936C4.50746 9.11936 4.51419 9.11936 4.51995 9.12033C4.78491 9.11457 5.03453 9.00128 5.21211 8.80545L11.7507 1.60542C12.1069 1.21177 12.0781 0.605065 11.6855 0.248892Z\" fill=\"#0F1F17\"\/\u003e\u003c\/svg\u003e\u003c\/span\u003e\n        FREE GIFT with every order\n      \u003c\/li\u003e\n    \u003c\/ul\u003e","options":[{"name":"Frequency","position":1,"value":"Deliver every 28 days"}],"recurring_deliveries":true,"price_adjustments":[{"order_count":null,"position":1,"value_type":"percentage","value":20}],"checkout_charge":{"value_type":"percentage","value":100}},{"id":114454298923,"name":"Deliver every 56 days","description":"\n\u003cul style=\" list-style-type: none; \"\u003e\n      \u003cli\u003e\n        \u003cspan\u003e\u003csvg width=\"12\" height=\"10\" viewBox=\"0 0 12 10\" fill=\"none\" xmlns=\"http:\/\/www.w3.org\/2000\/svg\"\u003e\u003cpath d=\"M11.6855 0.248892C11.2947 -0.106312 10.6871 -0.0784741 10.33 0.314153L4.47391 6.76253L1.64477 3.88638C1.27131 3.50813 0.664605 3.50237 0.287325 3.87486C-0.090924 4.24638 -0.0966854 4.85406 0.275802 5.2323L3.81724 8.83232C3.99869 9.01663 4.24443 9.11936 4.5017 9.11936C4.50746 9.11936 4.51419 9.11936 4.51995 9.12033C4.78491 9.11457 5.03453 9.00128 5.21211 8.80545L11.7507 1.60542C12.1069 1.21177 12.0781 0.605065 11.6855 0.248892Z\" fill=\"#0F1F17\"\/\u003e\u003c\/svg\u003e\u003c\/span\u003e\n        20% off every order\n      \u003c\/li\u003e\n\u003cbr\u003e\n      \u003cli\u003e\n        \u003cspan\u003e\u003csvg width=\"12\" height=\"10\" viewBox=\"0 0 12 10\" fill=\"none\" xmlns=\"http:\/\/www.w3.org\/2000\/svg\"\u003e\u003cpath d=\"M11.6855 0.248892C11.2947 -0.106312 10.6871 -0.0784741 10.33 0.314153L4.47391 6.76253L1.64477 3.88638C1.27131 3.50813 0.664605 3.50237 0.287325 3.87486C-0.090924 4.24638 -0.0966854 4.85406 0.275802 5.2323L3.81724 8.83232C3.99869 9.01663 4.24443 9.11936 4.5017 9.11936C4.50746 9.11936 4.51419 9.11936 4.51995 9.12033C4.78491 9.11457 5.03453 9.00128 5.21211 8.80545L11.7507 1.60542C12.1069 1.21177 12.0781 0.605065 11.6855 0.248892Z\" fill=\"#0F1F17\"\/\u003e\u003c\/svg\u003e\u003c\/span\u003e\n        Pause, Cancel Or Update The Frequency Anytime\n      \u003c\/li\u003e\n\u003cbr\u003e\n      \u003cli\u003e\n        \u003cspan\u003e\u003csvg width=\"12\" height=\"10\" viewBox=\"0 0 12 10\" fill=\"none\" xmlns=\"http:\/\/www.w3.org\/2000\/svg\"\u003e\u003cpath d=\"M11.6855 0.248892C11.2947 -0.106312 10.6871 -0.0784741 10.33 0.314153L4.47391 6.76253L1.64477 3.88638C1.27131 3.50813 0.664605 3.50237 0.287325 3.87486C-0.090924 4.24638 -0.0966854 4.85406 0.275802 5.2323L3.81724 8.83232C3.99869 9.01663 4.24443 9.11936 4.5017 9.11936C4.50746 9.11936 4.51419 9.11936 4.51995 9.12033C4.78491 9.11457 5.03453 9.00128 5.21211 8.80545L11.7507 1.60542C12.1069 1.21177 12.0781 0.605065 11.6855 0.248892Z\" fill=\"#0F1F17\"\/\u003e\u003c\/svg\u003e\u003c\/span\u003e\n        Priority fulfilment\n      \u003c\/li\u003e\n\u003cbr\u003e\n      \u003cli\u003e\n        \u003cspan\u003e\u003csvg width=\"12\" height=\"10\" viewBox=\"0 0 12 10\" fill=\"none\" xmlns=\"http:\/\/www.w3.org\/2000\/svg\"\u003e\u003cpath d=\"M11.6855 0.248892C11.2947 -0.106312 10.6871 -0.0784741 10.33 0.314153L4.47391 6.76253L1.64477 3.88638C1.27131 3.50813 0.664605 3.50237 0.287325 3.87486C-0.090924 4.24638 -0.0966854 4.85406 0.275802 5.2323L3.81724 8.83232C3.99869 9.01663 4.24443 9.11936 4.5017 9.11936C4.50746 9.11936 4.51419 9.11936 4.51995 9.12033C4.78491 9.11457 5.03453 9.00128 5.21211 8.80545L11.7507 1.60542C12.1069 1.21177 12.0781 0.605065 11.6855 0.248892Z\" fill=\"#0F1F17\"\/\u003e\u003c\/svg\u003e\u003c\/span\u003e\n        FREE GIFT with every order\n      \u003c\/li\u003e\n    \u003c\/ul\u003e","options":[{"name":"Frequency","position":1,"value":"Deliver every 56 days"}],"recurring_deliveries":true,"price_adjustments":[{"order_count":null,"position":1,"value_type":"percentage","value":20}],"checkout_charge":{"value_type":"percentage","value":100}}],"app_id":"5284869"}],"content":"\u003cdiv class=\"shogun-root\" data-shogun-id=\"65713be66e6e8200c9c9f312\" data-shogun-site-id=\"98317b31-4b14-4050-8a4b-f636e2b329ab\" data-shogun-page-id=\"65713be66e6e8200c9c9f312\" data-shogun-page-version-id=\"65713c832bc26700dbd87725\" data-shogun-platform-type=\"shopify\" data-shogun-variant-id=\"65713c832bc26700dbd87778\" data-shogun-page-type=\"product\" data-shogun-power-up-type=\"\" data-shogun-power-up-id=\"\" data-region=\"main\"\u003e \u003cdiv id=\"s-6b023b97-1f15-4733-a1b4-835a35a3ca15\" class=\"shg-c \"\u003e \u003cdiv class=\"shg-rich-text shg-theme-text-content\"\u003e\u003cp\u003eDetox Blend with Mullein\u003c\/p\u003e\u003c\/div\u003e \u003c\/div\u003e \u003c\/div\u003e"}
            </script>
            <div id="loop-subscription-container-8872114651435" class="loop-subscription-container">
              <input type="hidden" name="selling_plan" value="114312249643">
              <div id="loop-price-money-format" class="loop-hidden">$0.00 each</div>
              <div id="loop-price-money_without_currency-format" class="loop-hidden">0.00</div>
              <input name="loop_variant_id" class="loop-hidden">
              <div class="loop-purchase-options-label loop-display-none loop-display-none-by-variant">
                Purchase Options
              </div>
              <fieldset
                id="loop-selling-plan-fieldset"
                class="loop-selling-plan-fieldset"
                data-selling-plan-group-id="5128ca517a6f1f3e2404b20989474d72fe1bad98"
                data-selling-plan-group-name="Subscription"
                data-selling-plan-id="114312249643"
                data-selected-variant-id="50318075461931"
                data-product="{&quot;id&quot;:8872114651435,&quot;title&quot;:&quot;BetterLungs®&quot;,&quot;handle&quot;:&quot;betterlungs&quot;,&quot;description&quot;:&quot;<div class=\&quot;shogun-root\&quot; data-shogun-id=\&quot;65713be66e6e8200c9c9f312\&quot; data-shogun-site-id=\&quot;98317b31-4b14-4050-8a4b-f636e2b329ab\&quot; data-shogun-page-id=\&quot;65713be66e6e8200c9c9f312\&quot; data-shogun-page-version-id=\&quot;65713c832bc26700dbd87725\&quot; data-shogun-platform-type=\&quot;shopify\&quot; data-shogun-variant-id=\&quot;65713c832bc26700dbd87778\&quot; data-shogun-page-type=\&quot;product\&quot; data-shogun-power-up-type=\&quot;\&quot; data-shogun-power-up-id=\&quot;\&quot; data-region=\&quot;main\&quot;> <div id=\&quot;s-6b023b97-1f15-4733-a1b4-835a35a3ca15\&quot; class=\&quot;shg-c \&quot;> <div class=\&quot;shg-rich-text shg-theme-text-content\&quot;><p>Detox Blend&nbsp;with Mullein</p></div> </div> </div>&quot;,&quot;published_at&quot;:&quot;2025-02-19T05:36:11-06:00&quot;,&quot;created_at&quot;:&quot;2023-11-14T04:59:52-06:00&quot;,&quot;vendor&quot;:&quot;Betterbrand&quot;,&quot;type&quot;:&quot;&quot;,&quot;tags&quot;:[],&quot;price&quot;:3995,&quot;price_min&quot;:3995,&quot;price_max&quot;:8485,&quot;available&quot;:true,&quot;price_varies&quot;:true,&quot;compare_at_price&quot;:null,&quot;compare_at_price_min&quot;:0,&quot;compare_at_price_max&quot;:0,&quot;compare_at_price_varies&quot;:false,&quot;variants&quot;:[{&quot;id&quot;:50318075461931,&quot;title&quot;:&quot;1-Pack&quot;,&quot;option1&quot;:&quot;1-Pack&quot;,&quot;option2&quot;:null,&quot;option3&quot;:null,&quot;sku&quot;:&quot;BB-BLUC-CA-AXA1&quot;,&quot;requires_shipping&quot;:true,&quot;taxable&quot;:true,&quot;featured_image&quot;:{&quot;id&quot;:47938407629099,&quot;product_id&quot;:8872114651435,&quot;position&quot;:1,&quot;created_at&quot;:&quot;2024-10-26T05:34:19-05:00&quot;,&quot;updated_at&quot;:&quot;2024-10-26T05:34:20-05:00&quot;,&quot;alt&quot;:null,&quot;width&quot;:1500,&quot;height&quot;:1500,&quot;src&quot;:&quot;//www.trybetterbrand.com/cdn/shop/files/New_Lungs_1.png?v=1729938860&quot;,&quot;variant_ids&quot;:[50318075461931]},&quot;available&quot;:true,&quot;name&quot;:&quot;BetterLungs® - 1-Pack&quot;,&quot;public_title&quot;:&quot;1-Pack&quot;,&quot;options&quot;:[&quot;1-Pack&quot;],&quot;price&quot;:3995,&quot;weight&quot;:50,&quot;compare_at_price&quot;:null,&quot;inventory_management&quot;:&quot;shopify&quot;,&quot;barcode&quot;:&quot;&quot;,&quot;featured_media&quot;:{&quot;alt&quot;:null,&quot;id&quot;:40111645131051,&quot;position&quot;:1,&quot;preview_image&quot;:{&quot;aspect_ratio&quot;:1,&quot;height&quot;:1500,&quot;width&quot;:1500,&quot;src&quot;:&quot;//www.trybetterbrand.com/cdn/shop/files/New_Lungs_1.png?v=1729938860&quot;}},&quot;requires_selling_plan&quot;:false,&quot;selling_plan_allocations&quot;:[{&quot;price_adjustments&quot;:[{&quot;position&quot;:1,&quot;price&quot;:3196}],&quot;price&quot;:3196,&quot;compare_at_price&quot;:3995,&quot;per_delivery_price&quot;:3196,&quot;selling_plan_id&quot;:114312249643,&quot;selling_plan_group_id&quot;:&quot;5128ca517a6f1f3e2404b20989474d72fe1bad98&quot;},{&quot;price_adjustments&quot;:[{&quot;position&quot;:1,&quot;price&quot;:3196}],&quot;price&quot;:3196,&quot;compare_at_price&quot;:3995,&quot;per_delivery_price&quot;:3196,&quot;selling_plan_id&quot;:114454298923,&quot;selling_plan_group_id&quot;:&quot;5128ca517a6f1f3e2404b20989474d72fe1bad98&quot;}],&quot;quantity_rule&quot;:{&quot;min&quot;:1,&quot;max&quot;:null,&quot;increment&quot;:1}},{&quot;id&quot;:50318075494699,&quot;title&quot;:&quot;3-Pack&quot;,&quot;option1&quot;:&quot;3-Pack&quot;,&quot;option2&quot;:null,&quot;option3&quot;:null,&quot;sku&quot;:&quot;BB-BLUC-CA-BXA3&quot;,&quot;requires_shipping&quot;:true,&quot;taxable&quot;:true,&quot;featured_image&quot;:null,&quot;available&quot;:true,&quot;name&quot;:&quot;BetterLungs® - 3-Pack&quot;,&quot;public_title&quot;:&quot;3-Pack&quot;,&quot;options&quot;:[&quot;3-Pack&quot;],&quot;price&quot;:8485,&quot;weight&quot;:50,&quot;compare_at_price&quot;:null,&quot;inventory_management&quot;:&quot;shopify&quot;,&quot;barcode&quot;:&quot;&quot;,&quot;requires_selling_plan&quot;:false,&quot;selling_plan_allocations&quot;:[{&quot;price_adjustments&quot;:[{&quot;position&quot;:1,&quot;price&quot;:6788}],&quot;price&quot;:6788,&quot;compare_at_price&quot;:8485,&quot;per_delivery_price&quot;:6788,&quot;selling_plan_id&quot;:114312249643,&quot;selling_plan_group_id&quot;:&quot;5128ca517a6f1f3e2404b20989474d72fe1bad98&quot;},{&quot;price_adjustments&quot;:[{&quot;position&quot;:1,&quot;price&quot;:6788}],&quot;price&quot;:6788,&quot;compare_at_price&quot;:8485,&quot;per_delivery_price&quot;:6788,&quot;selling_plan_id&quot;:114454298923,&quot;selling_plan_group_id&quot;:&quot;5128ca517a6f1f3e2404b20989474d72fe1bad98&quot;}],&quot;quantity_rule&quot;:{&quot;min&quot;:1,&quot;max&quot;:null,&quot;increment&quot;:1}}],&quot;images&quot;:[&quot;//www.trybetterbrand.com/cdn/shop/files/New_Lungs_1.png?v=1729938860&quot;,&quot;//www.trybetterbrand.com/cdn/shop/files/3_607cefa2-e87d-45d7-95a5-b2ba2ebaef7d.png?v=1729939004&quot;,&quot;//www.trybetterbrand.com/cdn/shop/files/4_8ff2a084-980e-4106-a90c-923fd188ebf6.png?v=1718299110&quot;,&quot;//www.trybetterbrand.com/cdn/shop/files/2_e0db6bed-c8e5-4871-adf7-cab335bd25ab.png?v=1729939004&quot;],&quot;featured_image&quot;:&quot;//www.trybetterbrand.com/cdn/shop/files/New_Lungs_1.png?v=1729938860&quot;,&quot;options&quot;:[&quot;Bundles&quot;],&quot;media&quot;:[{&quot;alt&quot;:null,&quot;id&quot;:40111645131051,&quot;position&quot;:1,&quot;preview_image&quot;:{&quot;aspect_ratio&quot;:1,&quot;height&quot;:1500,&quot;width&quot;:1500,&quot;src&quot;:&quot;//www.trybetterbrand.com/cdn/shop/files/New_Lungs_1.png?v=1729938860&quot;},&quot;aspect_ratio&quot;:1,&quot;height&quot;:1500,&quot;media_type&quot;:&quot;image&quot;,&quot;src&quot;:&quot;//www.trybetterbrand.com/cdn/shop/files/New_Lungs_1.png?v=1729938860&quot;,&quot;width&quot;:1500},{&quot;alt&quot;:null,&quot;id&quot;:40111652208939,&quot;position&quot;:2,&quot;preview_image&quot;:{&quot;aspect_ratio&quot;:1,&quot;height&quot;:1500,&quot;width&quot;:1500,&quot;src&quot;:&quot;//www.trybetterbrand.com/cdn/shop/files/3_607cefa2-e87d-45d7-95a5-b2ba2ebaef7d.png?v=1729939004&quot;},&quot;aspect_ratio&quot;:1,&quot;height&quot;:1500,&quot;media_type&quot;:&quot;image&quot;,&quot;src&quot;:&quot;//www.trybetterbrand.com/cdn/shop/files/3_607cefa2-e87d-45d7-95a5-b2ba2ebaef7d.png?v=1729939004&quot;,&quot;width&quot;:1500},{&quot;alt&quot;:&quot;BetterLungs® - Betterbrand&quot;,&quot;id&quot;:35664943153451,&quot;position&quot;:3,&quot;preview_image&quot;:{&quot;aspect_ratio&quot;:1,&quot;height&quot;:1080,&quot;width&quot;:1080,&quot;src&quot;:&quot;//www.trybetterbrand.com/cdn/shop/files/4_8ff2a084-980e-4106-a90c-923fd188ebf6.png?v=1718299110&quot;},&quot;aspect_ratio&quot;:1,&quot;height&quot;:1080,&quot;media_type&quot;:&quot;image&quot;,&quot;src&quot;:&quot;//www.trybetterbrand.com/cdn/shop/files/4_8ff2a084-980e-4106-a90c-923fd188ebf6.png?v=1718299110&quot;,&quot;width&quot;:1080},{&quot;alt&quot;:null,&quot;id&quot;:40111652143403,&quot;position&quot;:4,&quot;preview_image&quot;:{&quot;aspect_ratio&quot;:1,&quot;height&quot;:1500,&quot;width&quot;:1500,&quot;src&quot;:&quot;//www.trybetterbrand.com/cdn/shop/files/2_e0db6bed-c8e5-4871-adf7-cab335bd25ab.png?v=1729939004&quot;},&quot;aspect_ratio&quot;:1,&quot;height&quot;:1500,&quot;media_type&quot;:&quot;image&quot;,&quot;src&quot;:&quot;//www.trybetterbrand.com/cdn/shop/files/2_e0db6bed-c8e5-4871-adf7-cab335bd25ab.png?v=1729939004&quot;,&quot;width&quot;:1500}],&quot;requires_selling_plan&quot;:false,&quot;selling_plan_groups&quot;:[{&quot;id&quot;:&quot;5128ca517a6f1f3e2404b20989474d72fe1bad98&quot;,&quot;name&quot;:&quot;Subscription&quot;,&quot;options&quot;:[{&quot;name&quot;:&quot;Frequency&quot;,&quot;position&quot;:1,&quot;values&quot;:[&quot;Deliver every 28 days&quot;,&quot;Deliver every 56 days&quot;]}],&quot;selling_plans&quot;:[{&quot;id&quot;:114312249643,&quot;name&quot;:&quot;Deliver every 28 Days&quot;,&quot;description&quot;:&quot;\n<ul style=\&quot; list-style-type: none; \&quot;>\n      <li>\n        <span><svg width=\&quot;12\&quot; height=\&quot;10\&quot; viewBox=\&quot;0 0 12 10\&quot; fill=\&quot;none\&quot; xmlns=\&quot;http://www.w3.org/2000/svg\&quot;><path d=\&quot;M11.6855 0.248892C11.2947 -0.106312 10.6871 -0.0784741 10.33 0.314153L4.47391 6.76253L1.64477 3.88638C1.27131 3.50813 0.664605 3.50237 0.287325 3.87486C-0.090924 4.24638 -0.0966854 4.85406 0.275802 5.2323L3.81724 8.83232C3.99869 9.01663 4.24443 9.11936 4.5017 9.11936C4.50746 9.11936 4.51419 9.11936 4.51995 9.12033C4.78491 9.11457 5.03453 9.00128 5.21211 8.80545L11.7507 1.60542C12.1069 1.21177 12.0781 0.605065 11.6855 0.248892Z\&quot; fill=\&quot;#0F1F17\&quot;/></svg></span>\n        20% off every order\n      </li>\n<br>\n      <li>\n        <span><svg width=\&quot;12\&quot; height=\&quot;10\&quot; viewBox=\&quot;0 0 12 10\&quot; fill=\&quot;none\&quot; xmlns=\&quot;http://www.w3.org/2000/svg\&quot;><path d=\&quot;M11.6855 0.248892C11.2947 -0.106312 10.6871 -0.0784741 10.33 0.314153L4.47391 6.76253L1.64477 3.88638C1.27131 3.50813 0.664605 3.50237 0.287325 3.87486C-0.090924 4.24638 -0.0966854 4.85406 0.275802 5.2323L3.81724 8.83232C3.99869 9.01663 4.24443 9.11936 4.5017 9.11936C4.50746 9.11936 4.51419 9.11936 4.51995 9.12033C4.78491 9.11457 5.03453 9.00128 5.21211 8.80545L11.7507 1.60542C12.1069 1.21177 12.0781 0.605065 11.6855 0.248892Z\&quot; fill=\&quot;#0F1F17\&quot;/></svg></span>\n        Pause, Cancel Or Update The Frequency Anytime\n      </li>\n<br>\n      <li>\n        <span><svg width=\&quot;12\&quot; height=\&quot;10\&quot; viewBox=\&quot;0 0 12 10\&quot; fill=\&quot;none\&quot; xmlns=\&quot;http://www.w3.org/2000/svg\&quot;><path d=\&quot;M11.6855 0.248892C11.2947 -0.106312 10.6871 -0.0784741 10.33 0.314153L4.47391 6.76253L1.64477 3.88638C1.27131 3.50813 0.664605 3.50237 0.287325 3.87486C-0.090924 4.24638 -0.0966854 4.85406 0.275802 5.2323L3.81724 8.83232C3.99869 9.01663 4.24443 9.11936 4.5017 9.11936C4.50746 9.11936 4.51419 9.11936 4.51995 9.12033C4.78491 9.11457 5.03453 9.00128 5.21211 8.80545L11.7507 1.60542C12.1069 1.21177 12.0781 0.605065 11.6855 0.248892Z\&quot; fill=\&quot;#0F1F17\&quot;/></svg></span>\n        Priority fulfilment\n      </li>\n<br>\n      <li>\n        <span><svg width=\&quot;12\&quot; height=\&quot;10\&quot; viewBox=\&quot;0 0 12 10\&quot; fill=\&quot;none\&quot; xmlns=\&quot;http://www.w3.org/2000/svg\&quot;><path d=\&quot;M11.6855 0.248892C11.2947 -0.106312 10.6871 -0.0784741 10.33 0.314153L4.47391 6.76253L1.64477 3.88638C1.27131 3.50813 0.664605 3.50237 0.287325 3.87486C-0.090924 4.24638 -0.0966854 4.85406 0.275802 5.2323L3.81724 8.83232C3.99869 9.01663 4.24443 9.11936 4.5017 9.11936C4.50746 9.11936 4.51419 9.11936 4.51995 9.12033C4.78491 9.11457 5.03453 9.00128 5.21211 8.80545L11.7507 1.60542C12.1069 1.21177 12.0781 0.605065 11.6855 0.248892Z\&quot; fill=\&quot;#0F1F17\&quot;/></svg></span>\n        FREE GIFT with every order\n      </li>\n    </ul>&quot;,&quot;options&quot;:[{&quot;name&quot;:&quot;Frequency&quot;,&quot;position&quot;:1,&quot;value&quot;:&quot;Deliver every 28 days&quot;}],&quot;recurring_deliveries&quot;:true,&quot;price_adjustments&quot;:[{&quot;order_count&quot;:null,&quot;position&quot;:1,&quot;value_type&quot;:&quot;percentage&quot;,&quot;value&quot;:20}],&quot;checkout_charge&quot;:{&quot;value_type&quot;:&quot;percentage&quot;,&quot;value&quot;:100}},{&quot;id&quot;:114454298923,&quot;name&quot;:&quot;Deliver every 56 days&quot;,&quot;description&quot;:&quot;\n<ul style=\&quot; list-style-type: none; \&quot;>\n      <li>\n        <span><svg width=\&quot;12\&quot; height=\&quot;10\&quot; viewBox=\&quot;0 0 12 10\&quot; fill=\&quot;none\&quot; xmlns=\&quot;http://www.w3.org/2000/svg\&quot;><path d=\&quot;M11.6855 0.248892C11.2947 -0.106312 10.6871 -0.0784741 10.33 0.314153L4.47391 6.76253L1.64477 3.88638C1.27131 3.50813 0.664605 3.50237 0.287325 3.87486C-0.090924 4.24638 -0.0966854 4.85406 0.275802 5.2323L3.81724 8.83232C3.99869 9.01663 4.24443 9.11936 4.5017 9.11936C4.50746 9.11936 4.51419 9.11936 4.51995 9.12033C4.78491 9.11457 5.03453 9.00128 5.21211 8.80545L11.7507 1.60542C12.1069 1.21177 12.0781 0.605065 11.6855 0.248892Z\&quot; fill=\&quot;#0F1F17\&quot;/></svg></span>\n        20% off every order\n      </li>\n<br>\n      <li>\n        <span><svg width=\&quot;12\&quot; height=\&quot;10\&quot; viewBox=\&quot;0 0 12 10\&quot; fill=\&quot;none\&quot; xmlns=\&quot;http://www.w3.org/2000/svg\&quot;><path d=\&quot;M11.6855 0.248892C11.2947 -0.106312 10.6871 -0.0784741 10.33 0.314153L4.47391 6.76253L1.64477 3.88638C1.27131 3.50813 0.664605 3.50237 0.287325 3.87486C-0.090924 4.24638 -0.0966854 4.85406 0.275802 5.2323L3.81724 8.83232C3.99869 9.01663 4.24443 9.11936 4.5017 9.11936C4.50746 9.11936 4.51419 9.11936 4.51995 9.12033C4.78491 9.11457 5.03453 9.00128 5.21211 8.80545L11.7507 1.60542C12.1069 1.21177 12.0781 0.605065 11.6855 0.248892Z\&quot; fill=\&quot;#0F1F17\&quot;/></svg></span>\n        Pause, Cancel Or Update The Frequency Anytime\n      </li>\n<br>\n      <li>\n        <span><svg width=\&quot;12\&quot; height=\&quot;10\&quot; viewBox=\&quot;0 0 12 10\&quot; fill=\&quot;none\&quot; xmlns=\&quot;http://www.w3.org/2000/svg\&quot;><path d=\&quot;M11.6855 0.248892C11.2947 -0.106312 10.6871 -0.0784741 10.33 0.314153L4.47391 6.76253L1.64477 3.88638C1.27131 3.50813 0.664605 3.50237 0.287325 3.87486C-0.090924 4.24638 -0.0966854 4.85406 0.275802 5.2323L3.81724 8.83232C3.99869 9.01663 4.24443 9.11936 4.5017 9.11936C4.50746 9.11936 4.51419 9.11936 4.51995 9.12033C4.78491 9.11457 5.03453 9.00128 5.21211 8.80545L11.7507 1.60542C12.1069 1.21177 12.0781 0.605065 11.6855 0.248892Z\&quot; fill=\&quot;#0F1F17\&quot;/></svg></span>\n        Priority fulfilment\n      </li>\n<br>\n      <li>\n        <span><svg width=\&quot;12\&quot; height=\&quot;10\&quot; viewBox=\&quot;0 0 12 10\&quot; fill=\&quot;none\&quot; xmlns=\&quot;http://www.w3.org/2000/svg\&quot;><path d=\&quot;M11.6855 0.248892C11.2947 -0.106312 10.6871 -0.0784741 10.33 0.314153L4.47391 6.76253L1.64477 3.88638C1.27131 3.50813 0.664605 3.50237 0.287325 3.87486C-0.090924 4.24638 -0.0966854 4.85406 0.275802 5.2323L3.81724 8.83232C3.99869 9.01663 4.24443 9.11936 4.5017 9.11936C4.50746 9.11936 4.51419 9.11936 4.51995 9.12033C4.78491 9.11457 5.03453 9.00128 5.21211 8.80545L11.7507 1.60542C12.1069 1.21177 12.0781 0.605065 11.6855 0.248892Z\&quot; fill=\&quot;#0F1F17\&quot;/></svg></span>\n        FREE GIFT with every order\n      </li>\n    </ul>&quot;,&quot;options&quot;:[{&quot;name&quot;:&quot;Frequency&quot;,&quot;position&quot;:1,&quot;value&quot;:&quot;Deliver every 56 days&quot;}],&quot;recurring_deliveries&quot;:true,&quot;price_adjustments&quot;:[{&quot;order_count&quot;:null,&quot;position&quot;:1,&quot;value_type&quot;:&quot;percentage&quot;,&quot;value&quot;:20}],&quot;checkout_charge&quot;:{&quot;value_type&quot;:&quot;percentage&quot;,&quot;value&quot;:100}}],&quot;app_id&quot;:&quot;5284869&quot;}],&quot;content&quot;:&quot;<div class=\&quot;shogun-root\&quot; data-shogun-id=\&quot;65713be66e6e8200c9c9f312\&quot; data-shogun-site-id=\&quot;98317b31-4b14-4050-8a4b-f636e2b329ab\&quot; data-shogun-page-id=\&quot;65713be66e6e8200c9c9f312\&quot; data-shogun-page-version-id=\&quot;65713c832bc26700dbd87725\&quot; data-shogun-platform-type=\&quot;shopify\&quot; data-shogun-variant-id=\&quot;65713c832bc26700dbd87778\&quot; data-shogun-page-type=\&quot;product\&quot; data-shogun-power-up-type=\&quot;\&quot; data-shogun-power-up-id=\&quot;\&quot; data-region=\&quot;main\&quot;> <div id=\&quot;s-6b023b97-1f15-4733-a1b4-835a35a3ca15\&quot; class=\&quot;shg-c \&quot;> <div class=\&quot;shg-rich-text shg-theme-text-content\&quot;><p>Detox Blend&nbsp;with Mullein</p></div> </div> </div>&quot;}"
              >
                <legend class="loop-selling-plan-fieldset-legend">Selling Plans</legend>

                <div class=" " id="loop-one-time-purchase-option-at-top"></div>

                <div id="loop-product-variant-50318075461931" style="display: block;">
                  <div id="loop-selling_plan_group-5128ca517a6f1f3e2404b20989474d72fe1bad98">
                    <div
                      class="loop-selling-plan-allocation"
                      id="loop-allocation-5128ca517a6f1f3e2404b20989474d72fe1bad98"
                    >
                      <div
                        class="loop-full-width loop-subscription-group loop-subscription-group-border-bottom loop-selected-selling-plan-group"
                        id="loop-50318075461931-5128ca517a6f1f3e2404b20989474d72fe1bad98"
                      >
                        <input
                          type="radio"
                          class="loop-subscription-group-radio"
                          id="loop-radio-503180754619315128ca517a6f1f3e2404b20989474d72fe1bad98"
                          name="loop_purchase_option"
                          data-variant-id="50318075461931"
                          data-product-id="8872114651435"
                          data-id="5128ca517a6f1f3e2404b20989474d72fe1bad98"
                          data-name="Subscription"
                        >
                        <div class="loop-subscription-group-text">
                          <label
                            class="loop-subscription-group-label"
                            for="loop-radio-503180754619315128ca517a6f1f3e2404b20989474d72fe1bad98"
                          >
                            Subscription
                          </label>

                          <div class="loop-subscription-group-price-container">
                            <div
                              id="loop-price-original-50318075461931-5128ca517a6f1f3e2404b20989474d72fe1bad98"
                              class="loop-subscription-group-price-amount-original loop-display-none"
                            >
                              $39.95
                            </div>
                            <div
                              id="loop-price-50318075461931-5128ca517a6f1f3e2404b20989474d72fe1bad98"
                              class="loop-subscription-group-price-amount"
                            >
                              $31.96
                            </div>
                            <div class="loop-subscription-group-price-quantity loop-display-none">each</div>
                          </div>
                        </div>
                        <div
                          class="loop-subscription-group-discount-badge"
                          id="loop-discount-badge-50318075461931-5128ca517a6f1f3e2404b20989474d72fe1bad98"
                        >
                          Save 20%
                        </div>
                        <div
                          class="loop-subscription-group-selling-plans-container loop-full-width"
                          id="loop-selling-plan-container-50318075461931-5128ca517a6f1f3e2404b20989474d72fe1bad98"
                        >
                          <label
                            class="loop-selling-plan-selector-label"
                            for="loop-select-50318075461931-5128ca517a6f1f3e2404b20989474d72fe1bad98"
                          >
                            Frequency</label
                          >
                          <div
                            id="loop-selling-plan-first-delivery-options-50318075461931-5128ca517a6f1f3e2404b20989474d72fe1bad98"
                            class="loop-display-none"
                          >
                            &nbsp;Deliver every 28 days
                          </div>
                          <select
                            class="loop-full-width loop-selling-plan-selector"
                            id="loop-select-50318075461931-5128ca517a6f1f3e2404b20989474d72fe1bad98"
                            data-position=""
                            data-selling-plan-group-id="5128ca517a6f1f3e2404b20989474d72fe1bad98"
                            data-product-id="8872114651435"
                          >
                            <option class="loop-selling-plan-selector-option" value="114312249643">
                              Deliver every 28 days
                            </option>

                            <option class="loop-selling-plan-selector-option" value="114454298923">
                              Deliver every 56 days
                            </option>
                          </select>
                          <div
                            class="loop-selling-plan-selector-description"
                            id="loop-selling-plan-description-50318075461931-5128ca517a6f1f3e2404b20989474d72fe1bad98"
                          >
                            <ul style=" list-style-type: none; ">
                              <li>
                                <span>
                                  <svg
                                    width="12"
                                    height="10"
                                    viewBox="0 0 12 10"
                                    fill="none"
                                    xmlns="http://www.w3.org/2000/svg"
                                  >
                                    <path d="M11.6855 0.248892C11.2947 -0.106312 10.6871 -0.0784741 10.33 0.314153L4.47391 6.76253L1.64477 3.88638C1.27131 3.50813 0.664605 3.50237 0.287325 3.87486C-0.090924 4.24638 -0.0966854 4.85406 0.275802 5.2323L3.81724 8.83232C3.99869 9.01663 4.24443 9.11936 4.5017 9.11936C4.50746 9.11936 4.51419 9.11936 4.51995 9.12033C4.78491 9.11457 5.03453 9.00128 5.21211 8.80545L11.7507 1.60542C12.1069 1.21177 12.0781 0.605065 11.6855 0.248892Z" fill="#0F1F17"></path>
                                  </svg>
                                </span>
                                20% off every order
                              </li>
                              <br>
                              <li>
                                <span>
                                  <svg
                                    width="12"
                                    height="10"
                                    viewBox="0 0 12 10"
                                    fill="none"
                                    xmlns="http://www.w3.org/2000/svg"
                                  >
                                    <path d="M11.6855 0.248892C11.2947 -0.106312 10.6871 -0.0784741 10.33 0.314153L4.47391 6.76253L1.64477 3.88638C1.27131 3.50813 0.664605 3.50237 0.287325 3.87486C-0.090924 4.24638 -0.0966854 4.85406 0.275802 5.2323L3.81724 8.83232C3.99869 9.01663 4.24443 9.11936 4.5017 9.11936C4.50746 9.11936 4.51419 9.11936 4.51995 9.12033C4.78491 9.11457 5.03453 9.00128 5.21211 8.80545L11.7507 1.60542C12.1069 1.21177 12.0781 0.605065 11.6855 0.248892Z" fill="#0F1F17"></path>
                                  </svg>
                                </span>
                                Pause, Cancel Or Update The Frequency Anytime
                              </li>
                              <br>
                              <li>
                                <span>
                                  <svg
                                    width="12"
                                    height="10"
                                    viewBox="0 0 12 10"
                                    fill="none"
                                    xmlns="http://www.w3.org/2000/svg"
                                  >
                                    <path d="M11.6855 0.248892C11.2947 -0.106312 10.6871 -0.0784741 10.33 0.314153L4.47391 6.76253L1.64477 3.88638C1.27131 3.50813 0.664605 3.50237 0.287325 3.87486C-0.090924 4.24638 -0.0966854 4.85406 0.275802 5.2323L3.81724 8.83232C3.99869 9.01663 4.24443 9.11936 4.5017 9.11936C4.50746 9.11936 4.51419 9.11936 4.51995 9.12033C4.78491 9.11457 5.03453 9.00128 5.21211 8.80545L11.7507 1.60542C12.1069 1.21177 12.0781 0.605065 11.6855 0.248892Z" fill="#0F1F17"></path>
                                  </svg>
                                </span>
                                Priority fulfilment
                              </li>
                              <br>
                              <li>
                                <span>
                                  <svg
                                    width="12"
                                    height="10"
                                    viewBox="0 0 12 10"
                                    fill="none"
                                    xmlns="http://www.w3.org/2000/svg"
                                  >
                                    <path d="M11.6855 0.248892C11.2947 -0.106312 10.6871 -0.0784741 10.33 0.314153L4.47391 6.76253L1.64477 3.88638C1.27131 3.50813 0.664605 3.50237 0.287325 3.87486C-0.090924 4.24638 -0.0966854 4.85406 0.275802 5.2323L3.81724 8.83232C3.99869 9.01663 4.24443 9.11936 4.5017 9.11936C4.50746 9.11936 4.51419 9.11936 4.51995 9.12033C4.78491 9.11457 5.03453 9.00128 5.21211 8.80545L11.7507 1.60542C12.1069 1.21177 12.0781 0.605065 11.6855 0.248892Z" fill="#0F1F17"></path>
                                  </svg>
                                </span>
                                FREE GIFT with every order
                              </li>
                            </ul>
                          </div>
                        </div>
                      </div>
                    </div>

                    <div
                      class="loop-selling-plan-allocation"
                      id="loop-allocation-5128ca517a6f1f3e2404b20989474d72fe1bad98"
                    ></div>
                  </div>
                </div>

                <div id="loop-product-variant-50318075494699" style="display: none;">
                  <div id="loop-selling_plan_group-5128ca517a6f1f3e2404b20989474d72fe1bad98">
                    <div
                      class="loop-selling-plan-allocation"
                      id="loop-allocation-5128ca517a6f1f3e2404b20989474d72fe1bad98"
                    >
                      <div
                        class="loop-full-width loop-subscription-group loop-subscription-group-border-bottom"
                        id="loop-50318075494699-5128ca517a6f1f3e2404b20989474d72fe1bad98"
                      >
                        <input
                          type="radio"
                          class="loop-subscription-group-radio"
                          id="loop-radio-503180754946995128ca517a6f1f3e2404b20989474d72fe1bad98"
                          name="loop_purchase_option"
                          data-variant-id="50318075494699"
                          data-product-id="8872114651435"
                          data-id="5128ca517a6f1f3e2404b20989474d72fe1bad98"
                          data-name="Subscription"
                        >
                        <div class="loop-subscription-group-text">
                          <label
                            class="loop-subscription-group-label"
                            for="loop-radio-503180754946995128ca517a6f1f3e2404b20989474d72fe1bad98"
                          >
                            Subscription
                          </label>

                          <div class="loop-subscription-group-price-container">
                            <div
                              id="loop-price-original-50318075494699-5128ca517a6f1f3e2404b20989474d72fe1bad98"
                              class="loop-subscription-group-price-amount-original loop-display-none"
                            >
                              $39.95
                            </div>
                            <div
                              id="loop-price-50318075494699-5128ca517a6f1f3e2404b20989474d72fe1bad98"
                              class="loop-subscription-group-price-amount"
                            >
                              $39.95
                            </div>
                            <div class="loop-subscription-group-price-quantity loop-display-none">each</div>
                          </div>
                        </div>
                        <div
                          class="loop-subscription-group-discount-badge loop-display-none"
                          id="loop-discount-badge-50318075494699-5128ca517a6f1f3e2404b20989474d72fe1bad98"
                        ></div>
                        <div
                          class="loop-subscription-group-selling-plans-container loop-full-width"
                          id="loop-selling-plan-container-50318075494699-5128ca517a6f1f3e2404b20989474d72fe1bad98"
                        >
                          <label
                            class="loop-selling-plan-selector-label"
                            for="loop-select-50318075494699-5128ca517a6f1f3e2404b20989474d72fe1bad98"
                          >
                            Frequency</label
                          >
                          <div
                            id="loop-selling-plan-first-delivery-options-50318075494699-5128ca517a6f1f3e2404b20989474d72fe1bad98"
                            class="loop-display-none"
                          >
                            &nbsp;Deliver every 28 days
                          </div>
                          <select
                            class="loop-full-width loop-selling-plan-selector"
                            id="loop-select-50318075494699-5128ca517a6f1f3e2404b20989474d72fe1bad98"
                            data-position=""
                            data-selling-plan-group-id="5128ca517a6f1f3e2404b20989474d72fe1bad98"
                            data-product-id="8872114651435"
                          >
                            <option class="loop-selling-plan-selector-option" value="114312249643">
                              Deliver every 28 days
                            </option>

                            <option class="loop-selling-plan-selector-option" value="114454298923">
                              Deliver every 56 days
                            </option>
                          </select>
                          <div
                            class="loop-selling-plan-selector-description"
                            id="loop-selling-plan-description-50318075494699-5128ca517a6f1f3e2404b20989474d72fe1bad98"
                          ></div>
                        </div>
                      </div>
                    </div>

                    <div
                      class="loop-selling-plan-allocation"
                      id="loop-allocation-5128ca517a6f1f3e2404b20989474d72fe1bad98"
                    ></div>
                  </div>
                </div>

                <div class="loop-one-time-purchase-option-position" id="loop-one-time-purchase-option-at-bottom">
                  <div class="loop-one-time-purchase-option">
                    <input
                      type="radio"
                      class="loop-one-time-purchase-option-radio"
                      name="loop_purchase_option"
                      id="loop-one-time-purchase-8872114651435"
                      data-id="loop-one-time-purchase"
                      data-product-id="8872114651435"
                      data-name="loop-one-time-purchase"
                    >
                    <label class="loop-one-time-purchase-option-label" for="loop-one-time-purchase-8872114651435"
                      >One Time</label
                    >
                    <div
                      class="loop-subscription-group-discount-badge-onetime loop-display-none loop-subscription-group-discount-badge"
                      id="loop-discount-badge-onetime"
                    ></div>
                    <div class="loop-one-time-purchase-option-price-container">
                      <div
                        id="loop-price-one-time-original"
                        class="loop-one-time-purchase-option-price-amount-original loop-display-none"
                      >
                        $39.95
                      </div>
                      <div id="loop-price-one-time" class="loop-one-time-purchase-option-price-amount">$39.95</div>

                      <div class="loop-one-time-purchase-option-price-quantity loop-display-none">each</div>
                    </div>
                  </div>
                </div>
              </fieldset>

              <div class="loop-tooltip loop-display-none" id="loop-tooltip">
                <div class="loop-tooltip-image">
                  <svg
                    width="18"
                    height="18"
                    viewBox="0 0 90 90"
                    xmlns="http://www.w3.org/2000/svg"
                    id="loop-tooltip-image-svg"
                  >
                    <path d="M45 0C20.1827 0 0 20.1827 0 45C0 69.8173 20.1827 90 45 90C69.8173 90 90 69.8174 90 45C90.0056 44.6025 89.9322 44.2078 89.7839 43.8389C89.6357 43.47 89.4156 43.1342 89.1365 42.8511C88.8573 42.568 88.5247 42.3432 88.158 42.1897C87.7912 42.0363 87.3976 41.9573 87 41.9573C86.6024 41.9573 86.2088 42.0363 85.842 42.1897C85.4753 42.3432 85.1427 42.568 84.8635 42.8511C84.5844 43.1342 84.3643 43.47 84.2161 43.8389C84.0678 44.2078 83.9944 44.6025 84 45C84 66.5748 66.5747 84 45 84C23.4253 84 6 66.5747 6 45C6 23.4254 23.4253 6 45 6C56.1538 6 66.3012 10.5882 73.4375 18H65.4062C65.0087 17.9944 64.614 18.0678 64.2451 18.2161C63.8762 18.3643 63.5405 18.5844 63.2573 18.8635C62.9742 19.1427 62.7494 19.4753 62.596 19.842C62.4425 20.2088 62.3635 20.6024 62.3635 21C62.3635 21.3976 62.4425 21.7912 62.596 22.158C62.7494 22.5247 62.9742 22.8573 63.2573 23.1365C63.5405 23.4156 63.8762 23.6357 64.2451 23.7839C64.614 23.9322 65.0087 24.0056 65.4062 24H79.8125C80.6081 23.9999 81.3711 23.6838 81.9337 23.1212C82.4963 22.5586 82.8124 21.7956 82.8125 21V6.59375C82.821 6.18925 82.7476 5.78722 82.5966 5.41183C82.4457 5.03644 82.2205 4.69545 81.9344 4.40936C81.6483 4.12327 81.3073 3.898 80.9319 3.7471C80.5565 3.5962 80.1545 3.52277 79.75 3.53125C79.356 3.53941 78.9675 3.62511 78.6067 3.78344C78.2458 3.94177 77.9197 4.16963 77.6469 4.45402C77.3741 4.73841 77.16 5.07375 77.0168 5.44089C76.8737 5.80803 76.8042 6.19977 76.8125 6.59375V12.875C68.6156 4.86282 57.3081 0 45 0ZM43.75 20.75C43.356 20.7582 42.9675 20.8439 42.6067 21.0022C42.2458 21.1605 41.9197 21.3884 41.6469 21.6728C41.3741 21.9572 41.16 22.2925 41.0168 22.6596C40.8737 23.0268 40.8042 23.4185 40.8125 23.8125V47.375C40.8116 47.7693 40.8883 48.16 41.0385 48.5246C41.1886 48.8892 41.4092 49.2207 41.6875 49.5L54.0938 61.9375C54.6573 62.5011 55.4217 62.8177 56.2188 62.8177C57.0158 62.8177 57.7802 62.5011 58.3438 61.9375C58.9073 61.3739 59.224 60.6095 59.224 59.8125C59.224 59.0155 58.9073 58.2511 58.3438 57.6875L46.8125 46.1875V23.8125C46.821 23.408 46.7476 23.006 46.5966 22.6306C46.4457 22.2552 46.2205 21.9142 45.9344 21.6281C45.6483 21.342 45.3073 21.1168 44.9319 20.9658C44.5565 20.8149 44.1545 20.7415 43.75 20.75Z"></path>
                  </svg>
                </div>
                <div id="loop-tooltip-label" class="loop-tooltip-label"></div>
                <div class="loop-tooltiptext">
                  <div class="loop-container-arrow loop-container-arrow--tl">‍</div>
                  <p id="loop-tooltip-description" class="loop-tooltip-description"></p>
                </div>
              </div>
            </div>
            <script type="text/javascript">
              var isLoopInitReady = false;
              function checkLoopWidget(productId) {
                if (isLoopInitReady) {
                  initLoopWidget(productId);
                  return;
                }

                if (typeof initLoopWidget === "function") {
                  initLoopWidget(productId);
                  isLoopInitReady = true;
                } else {
                  setTimeout(function() {
                    checkLoopWidget(productId);
                  }, 50);
                }
              }
              checkLoopWidget(8872114651435);
            </script>

            <div class="ntg-cus-add-wrap">
              <div class="ntg-qty">
                <div
                  id="Quantity-Form-template--24378188071211__custom-main"
                  class="product-form__input product-form__quantity"
                >
                  <label
                    class="quantity__label form__label"
                    for="Quantity-template--24378188071211__custom-main"
                    style="display: none;"
                  >
                    Quantity
                    <span class="quantity__rules-cart no-js-hidden hidden">
                      <link
                        href="//www.trybetterbrand.com/cdn/shop/t/187/assets/component-loading-spinner.css?v=116724955567955766481743602624"
                        rel="stylesheet"
                        type="text/css"
                        media="all"
                      >

                      <div class="loading__spinner hidden">
                        <svg
                          aria-hidden="true"
                          focusable="false"
                          class="spinner"
                          viewBox="0 0 66 66"
                          xmlns="http://www.w3.org/2000/svg"
                        >
                          <circle class="path" fill="none" stroke-width="6" cx="33" cy="33" r="30"></circle>
                        </svg>
                      </div>
                      <span>(<span class="quantity-cart">0</span> in cart)</span>
                    </span>
                  </label>
                  <div class="price-per-item__container">
                    <quantity-input
                      class="quantity"
                      data-url="/products/betterlungs"
                      data-section="template--24378188071211__custom-main"
                    >
                      <button class="quantity__button no-js-hidden disabled" name="minus" type="button">
                        <span class="visually-hidden">Decrease quantity for BetterLungs®</span>
                        <svg
                          xmlns="http://www.w3.org/2000/svg"
                          aria-hidden="true"
                          focusable="false"
                          class="icon icon-minus"
                          fill="none"
                          viewBox="0 0 10 2"
                        >
                            <path fill-rule="evenodd" clip-rule="evenodd" d="M.5 1C.5.7.7.5 1 .5h8a.5.5 0 110 1H1A.5.5 0 01.5 1z" fill="currentColor">
                          </path>
                        </svg>
                      </button>
                      <input
                        class="quantity__input"
                        type="number"
                        name="quantity"
                        id="Quantity-template--24378188071211__custom-main"
                        data-cart-quantity="0"
                        data-min="1"
                        min="1"
                        step="1"
                        value="1"
                        form="product-form-template--24378188071211__custom-main"
                        max="null"
                      >
                      <button class="quantity__button no-js-hidden" name="plus" type="button">
                        <span class="visually-hidden">Increase quantity for BetterLungs®</span>
                        <svg
                          xmlns="http://www.w3.org/2000/svg"
                          aria-hidden="true"
                          focusable="false"
                          class="icon icon-plus"
                          fill="none"
                          viewBox="0 0 10 10"
                        >
                            <path fill-rule="evenodd" clip-rule="evenodd" d="M1 4.51a.5.5 0 000 1h3.5l.01 3.5a.5.5 0 001-.01V5.5l3.5-.01a.5.5 0 00-.01-1H5.5L5.49.99a.5.5 0 00-1 .01v3.5l-3.5.01H1z" fill="currentColor">
                          </path>
                        </svg>
                      </button>
                    </quantity-input>
                  </div>
                  <div
                    class="quantity__rules caption no-js-hidden"
                    id="Quantity-Rules-template--24378188071211__custom-main"
                  ></div>
                </div>
              </div>
              <div class="ntg-btn-add">
                <div>
                  <product-form
                    class="product-form"
                    data-hide-errors="false"
                    data-section-id="template--24378188071211__custom-main"
                  >
                    <div class="product-form__error-message-wrapper" role="alert" hidden="">
                      <svg aria-hidden="true" focusable="false" class="icon icon-error" viewBox="0 0 13 13">
                          <circle cx="6.5" cy="6.50049" r="5.5" stroke="white" stroke-width="2"></circle>
                          <circle cx="6.5" cy="6.5" r="5.5" fill="#EB001B" stroke="#EB001B" stroke-width="0.7"></circle>
                          <path d="M5.87413 3.52832L5.97439 7.57216H7.02713L7.12739 3.52832H5.87413ZM6.50076 9.66091C6.88091 9.66091 7.18169 9.37267 7.18169 9.00504C7.18169 8.63742 6.88091 8.34917 6.50076 8.34917C6.12061 8.34917 5.81982 8.63742 5.81982 9.00504C5.81982 9.37267 6.12061 9.66091 6.50076 9.66091Z" fill="white"></path>
                          <path d="M5.87413 3.17832H5.51535L5.52424 3.537L5.6245 7.58083L5.63296 7.92216H5.97439H7.02713H7.36856L7.37702 7.58083L7.47728 3.537L7.48617 3.17832H7.12739H5.87413ZM6.50076 10.0109C7.06121 10.0109 7.5317 9.57872 7.5317 9.00504C7.5317 8.43137 7.06121 7.99918 6.50076 7.99918C5.94031 7.99918 5.46982 8.43137 5.46982 9.00504C5.46982 9.57872 5.94031 10.0109 6.50076 10.0109Z" fill="white" stroke="#EB001B" stroke-width="0.7">
                        </path>
                      </svg>
                      <span class="product-form__error-message"></span>
                    </div>
                    <form
                      method="post"
                      action="/cart/add"
                      id="product-form-template--24378188071211__custom-main"
                      accept-charset="UTF-8"
                      class="form"
                      enctype="multipart/form-data"
                      novalidate="novalidate"
                      data-type="add-to-cart-form"
                      data-loop-product-id="8872114651435"
                    >
                      <input type="hidden" name="form_type" value="product"><input type="hidden" name="utf8" value="✓"
                      ><input type="hidden" name="id" value="50318075461931" class="product-variant-id">
                      <div class="product-form__buttons">
                        <button
                          id="ProductSubmitButton-template--24378188071211__custom-main"
                          type="submit"
                          name="add"
                          class="product-form__submit button button--full-width ntg-btn"
                          aria-haspopup="dialog"
                        >
                          <span>Add to cart</span>

                          <link
                            href="//www.trybetterbrand.com/cdn/shop/t/187/assets/component-loading-spinner.css?v=116724955567955766481743602624"
                            rel="stylesheet"
                            type="text/css"
                            media="all"
                          >

                          <div class="loading__spinner hidden">
                            <svg
                              aria-hidden="true"
                              focusable="false"
                              class="spinner"
                              viewBox="0 0 66 66"
                              xmlns="http://www.w3.org/2000/svg"
                            >
                              <circle class="path" fill="none" stroke-width="6" cx="33" cy="33" r="30"></circle>
                            </svg>
                          </div>
                        </button>
                      </div>
                      <input type="hidden" name="product-id" value="8872114651435"
                      ><input type="hidden" name="section-id" value="template--24378188071211__custom-main"
                      ><input type="hidden" name="selling_plan" value="114312249643">
                    </form></product-form
                  ><link
                    href="//www.trybetterbrand.com/cdn/shop/t/187/assets/component-pickup-availability.css?v=34645222959864780961743602624"
                    rel="stylesheet"
                    type="text/css"
                    media="all"
                  >
                  <pickup-availability
                    class="product__pickup-availabilities no-js-hidden quick-add-hidden"
                    data-root-url="/"
                    data-variant-id="50318075461931"
                    data-has-only-default-variant="false"
                    data-product-page-color-scheme="gradient color-background-1"
                  >
                    <template>
                      <pickup-availability-preview class="pickup-availability-preview">
                        <svg
                          xmlns="http://www.w3.org/2000/svg"
                          fill="none"
                          aria-hidden="true"
                          focusable="false"
                          class="icon icon-unavailable"
                          viewBox="0 0 20 20"
                        >
                          <path fill="#DE3618" stroke="#fff" d="M13.94 3.94L10 7.878l-3.94-3.94A1.499 1.499 0 103.94 6.06L7.88 10l-3.94 3.94a1.499 1.499 0 102.12 2.12L10 12.12l3.94 3.94a1.497 1.497 0 002.12 0 1.499 1.499 0 000-2.12L12.122 10l3.94-3.94a1.499 1.499 0 10-2.121-2.12z"></path>
                        </svg>

                        <div class="pickup-availability-info">
                          <p class="caption-large">Couldn't load pickup availability</p>
                          <button class="pickup-availability-button link link--text underlined-link">Refresh</button>
                        </div>
                      </pickup-availability-preview>
                    </template>
                  </pickup-availability>

                  <script
                    src="//www.trybetterbrand.com/cdn/shop/t/187/assets/pickup-availability.js?v=66138958121968076331743602624"
                    defer="defer"
                  ></script>
                </div>
              </div>
            </div>
            <div class="hSaleM2" style="color: rgb(255, 69, 0); font-size: 0.9em; margin-bottom: 10px;">
              35% off applied at checkout
            </div>
            <div class="ntg-offer-detail">
              <div class="ntg-img">
                <div
                  class="ntg-product-offer-slide swiper-container-initialized swiper-container-horizontal"
                  style="cursor: grab;"
                >
                  <div class="swiper-wrapper" style="transition-duration: 300ms;">
                    <div
                      class="swiper-slide swiper-slide-duplicate swiper-slide-duplicate-active"
                      data-swiper-slide-index="3"
                    >
                      <img
                        src="//www.trybetterbrand.com/cdn/shop/files/post-2.png?v=1705581073"
                        alt="BetterLungs dietary supplement bottle, 60 capsules, supports lung health and immune function."
                        width="103"
                        height="103"
                      >
                    </div>

                    <div class="swiper-slide" data-swiper-slide-index="0">
                      <img
                        src="//www.trybetterbrand.com/cdn/shop/files/post-1.png?v=1705579730"
                        alt="BetterLungs dietary supplement bottle, 60 capsules, supports lung health and immune function."
                        width="103"
                        height="103"
                      >
                    </div>

                    <div class="swiper-slide" data-swiper-slide-index="1">
                      <img
                        src="//www.trybetterbrand.com/cdn/shop/files/post-3.png?v=1705581073"
                        alt="BetterLungs dietary supplement bottle, 60 capsules, supports lung health and immune function."
                        width="103"
                        height="103"
                      >
                    </div>

                    <div class="swiper-slide" data-swiper-slide-index="2">
                      <img
                        src="//www.trybetterbrand.com/cdn/shop/files/post-4.png?v=1705581073"
                        alt="BetterLungs dietary supplement bottle, 60 capsules, supports lung health and immune function."
                        width="103"
                        height="103"
                      >
                    </div>

                    <div class="swiper-slide" data-swiper-slide-index="3">
                      <img
                        src="//www.trybetterbrand.com/cdn/shop/files/post-2.png?v=1705581073"
                        alt="BetterLungs dietary supplement bottle, 60 capsules, supports lung health and immune function."
                        width="103"
                        height="103"
                      >
                    </div>

                    <div
                      class="swiper-slide swiper-slide-duplicate swiper-slide-duplicate-active"
                      data-swiper-slide-index="0"
                    >
                      <img
                        src="//www.trybetterbrand.com/cdn/shop/files/post-1.png?v=1705579730"
                        alt="BetterLungs dietary supplement bottle, 60 capsules, supports lung health and immune function."
                        width="103"
                        height="103"
                      >
                    </div>
                  </div>
                  <span class="swiper-notification" aria-live="assertive" aria-atomic="true"></span>
                </div>
              </div>

              <div class="ntg-text">
                <span class="ntg-title">OFFER ENDS TODAY</span>
                <p>Free Gift for all Monthly subscribers</p>
                <span class="ntg-value">valued at <span class="ntg-mark">$35</span></span>
              </div>
            </div>
            <div class="new-element collapsible">
              <p class="title">FREE GIFT DETAILS</p>
              <p>
                Sign up for a monthly or bi-monthly subscription and receive a Mystery gift ($35 value) with your
                subscription order!
              </p>
              <p class="note">
                Free gift applies to every subscribe and save orders. Free gift recurs monthly. Available while supplies
                last.
              </p>
            </div>
            <div class="accordion-container">
              <div class="ac js-enabled" id="ac-0">
                <div class="ac-header">
                  <button
                    type="button"
                    class="ac-trigger"
                    id="ac-trigger-0"
                    role="button"
                    aria-controls="ac-panel-0"
                    aria-disabled="false"
                    aria-expanded="false"
                  >
                    <span class="ntg-opener-text">Description</span>
                    <span class="ntg-icon"></span>
                  </button>
                </div>
                <div
                  class="ac-panel"
                  id="ac-panel-0"
                  role="region"
                  aria-labelledby="ac-trigger-0"
                  style="transition-duration: 600ms; height: 0px;"
                >
                  <div class="ntg-accordion-content">
                    <p>
                      BetterLungs began as a passion project of our cofounder, Dr. Chris Jackson, PharmD, who has a
                      family history of respiratory issues. He considers plants to be responsible for providing the
                      nutrients needed to support a healthy lifestyle.His goal was to identify natural ingredients that
                      could support the entire respiratory tract and help anyone that might want to support their lungs
                      proactively. He and our science team started by targeting oxidative stress, a healthy inflammatory
                      process, and immune modulating functions through seven ingredients: Vitamin D, L-Cysteine,
                      Maritime pine bark, American ginseng, Mullein, Reishi mushroom, and Elderberry.
                    </p>
                  </div>
                </div>
              </div>
            </div>
            <div class="accordion-container">
              <div class="ac js-enabled" id="ac-1">
                <div class="ac-header">
                  <button
                    type="button"
                    class="ac-trigger"
                    id="ac-trigger-1"
                    role="button"
                    aria-controls="ac-panel-1"
                    aria-disabled="false"
                    aria-expanded="false"
                  >
                    <span class="ntg-opener-text">Ingredients</span>
                    <span class="ntg-icon"></span>
                  </button>
                </div>
                <div
                  class="ac-panel"
                  id="ac-panel-1"
                  role="region"
                  aria-labelledby="ac-trigger-1"
                  style="transition-duration: 600ms; height: 0px;"
                >
                  <div class="ntg-accordion-content">
                    <p>
                      With natural ingredients like Vitamin D, L-Cysteine, Mullein Leaf, Pine Bark, Elderberry, Ginseng,
                      and Reishi Mushroom, BetterLungs helps support lung health all year long.
                    </p>
                  </div>
                </div>
              </div>
            </div>
            <div class="accordion-container">
              <div class="ac js-enabled" id="ac-2">
                <div class="ac-header">
                  <button
                    type="button"
                    class="ac-trigger"
                    id="ac-trigger-2"
                    role="button"
                    aria-controls="ac-panel-2"
                    aria-disabled="false"
                    aria-expanded="false"
                  >
                    <span class="ntg-opener-text">Shipping</span>
                    <span class="ntg-icon"></span>
                  </button>
                </div>
                <div
                  class="ac-panel"
                  id="ac-panel-2"
                  role="region"
                  aria-labelledby="ac-trigger-2"
                  style="transition-duration: 600ms; height: 0px;"
                >
                  <div class="ntg-accordion-content">
                    <p>
                      Once an order is placed we typically ship within 1 business day. The delivery time is typically
                      3-5 business days (US Only), but can be longer depending on location and circumstances.
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </product-info>
        </div>
        <!-- END of second .ntg-col -->
      </div>
    </div>
  </section>

  <section
    id="MainProduct-template--24378188071211__custom-main"
    class="section-template--24378188071211__custom-main-padding gradient color-background-1"
    data-section="template--24378188071211__custom-main"
  >
    <link
      href="//www.trybetterbrand.com/cdn/shop/t/187/assets/section-main-product.css?v=141059467971401676601743602624"
      rel="stylesheet"
      type="text/css"
      media="all"
    >
    <link
      href="//www.trybetterbrand.com/cdn/shop/t/187/assets/component-accordion.css?v=180964204318874863811743602624"
      rel="stylesheet"
      type="text/css"
      media="all"
    >
    <link
      href="//www.trybetterbrand.com/cdn/shop/t/187/assets/component-price.css?v=70172745017360139101743602624"
      rel="stylesheet"
      type="text/css"
      media="all"
    >
    <link
      href="//www.trybetterbrand.com/cdn/shop/t/187/assets/component-slider.css?v=142503135496229589681743602624"
      rel="stylesheet"
      type="text/css"
      media="all"
    >
    <link
      href="//www.trybetterbrand.com/cdn/shop/t/187/assets/component-rating.css?v=157771854592137137841743602624"
      rel="stylesheet"
      type="text/css"
      media="all"
    >
    <link
      href="//www.trybetterbrand.com/cdn/shop/t/187/assets/component-deferred-media.css?v=14096082462203297471743602624"
      rel="stylesheet"
      type="text/css"
      media="all"
    >
    <style data-shopify="">
      .section-template--24378188071211__custom-main-padding {
        padding-top: 27px;
        padding-bottom: 9px;
      }

      @media screen and (min-width: 750px) {
        .section-template--24378188071211__custom-main-padding {
          padding-top: 36px;
          padding-bottom: 12px;
        }
      }
    </style>
    <script
      src="//www.trybetterbrand.com/cdn/shop/t/187/assets/product-info.js?v=81873523020508815201743602624"
      defer="defer"
    ></script>
    <script
      src="//www.trybetterbrand.com/cdn/shop/t/187/assets/product-form.js?v=133081758708377679181743602624"
      defer="defer"
    ></script>

    <div class="page-width">
      <script
        src="//www.trybetterbrand.com/cdn/shop/t/187/assets/product-modal.js?v=116616134454508949461743602624"
        defer="defer"
      ></script>
      <script
        src="//www.trybetterbrand.com/cdn/shop/t/187/assets/media-gallery.js?v=96661908581229995091743602624"
        defer="defer"
      ></script>
      <script>
        document.addEventListener('DOMContentLoaded', function () {
          function isIE() {
            const ua = window.navigator.userAgent;
            const msie = ua.indexOf('MSIE ');
            const trident = ua.indexOf('Trident/');

            return msie > 0 || trident > 0;
          }

          if (!isIE()) return;
          const hiddenInput = document.querySelector('#product-form-template--24378188071211__custom-main input[name="id"]');
          const noScriptInputWrapper = document.createElement('div');
          const variantSwitcher =
            document.querySelector('variant-radios[data-section="template--24378188071211__custom-main"]') ||
            document.querySelector('variant-selects[data-section="template--24378188071211__custom-main"]');
          noScriptInputWrapper.innerHTML = document.querySelector(
            '.product-form__noscript-wrapper-template--24378188071211__custom-main'
          ).textContent;
          variantSwitcher.outerHTML = noScriptInputWrapper.outerHTML;

          document.querySelector('#Variants-template--24378188071211__custom-main').addEventListener('change', function (event) {
            hiddenInput.value = event.currentTarget.value;
          });
        });
      </script>
      <script type="application/ld+json">
        {"@context":"http://schema.org/","@type":"Product","name":"BetterLungs®","url":"https://www.trybetterbrand.com/products/betterlungs","image":["https://www.trybetterbrand.com/cdn/shop/files/New_Lungs_1.png?v=1729938860&width=1920"],"description":"  Detox Blend with Mullein  ","sku":"BB-BLUC-CA-AXA1","brand":{"@type":"Brand","name":"Betterbrand"},"offers":[{"@type":"Offer","sku":"BB-BLUC-CA-AXA1","availability":"http://schema.org/InStock","price":39.95,"priceCurrency":"USD","url":"https://www.trybetterbrand.com/products/betterlungs?variant=50318075461931"},{"@type":"Offer","sku":"BB-BLUC-CA-BXA3","availability":"http://schema.org/InStock","price":84.85,"priceCurrency":"USD","url":"https://www.trybetterbrand.com/products/betterlungs?variant=50318075494699"}],"aggregateRating":{"@type":"AggregateRating","ratingValue":"4.6","reviewCount":1301}}
      </script>
    </div>
  </section>

  <script>
    console.log({"id":8872114651435,"title":"BetterLungs®","handle":"betterlungs","description":"\u003cdiv class=\"shogun-root\" data-shogun-id=\"65713be66e6e8200c9c9f312\" data-shogun-site-id=\"98317b31-4b14-4050-8a4b-f636e2b329ab\" data-shogun-page-id=\"65713be66e6e8200c9c9f312\" data-shogun-page-version-id=\"65713c832bc26700dbd87725\" data-shogun-platform-type=\"shopify\" data-shogun-variant-id=\"65713c832bc26700dbd87778\" data-shogun-page-type=\"product\" data-shogun-power-up-type=\"\" data-shogun-power-up-id=\"\" data-region=\"main\"\u003e \u003cdiv id=\"s-6b023b97-1f15-4733-a1b4-835a35a3ca15\" class=\"shg-c \"\u003e \u003cdiv class=\"shg-rich-text shg-theme-text-content\"\u003e\u003cp\u003eDetox Blend with Mullein\u003c\/p\u003e\u003c\/div\u003e \u003c\/div\u003e \u003c\/div\u003e","published_at":"2025-02-19T05:36:11-06:00","created_at":"2023-11-14T04:59:52-06:00","vendor":"Betterbrand","type":"","tags":[],"price":3995,"price_min":3995,"price_max":8485,"available":true,"price_varies":true,"compare_at_price":null,"compare_at_price_min":0,"compare_at_price_max":0,"compare_at_price_varies":false,"variants":[{"id":50318075461931,"title":"1-Pack","option1":"1-Pack","option2":null,"option3":null,"sku":"BB-BLUC-CA-AXA1","requires_shipping":true,"taxable":true,"featured_image":{"id":47938407629099,"product_id":8872114651435,"position":1,"created_at":"2024-10-26T05:34:19-05:00","updated_at":"2024-10-26T05:34:20-05:00","alt":null,"width":1500,"height":1500,"src":"\/\/www.trybetterbrand.com\/cdn\/shop\/files\/New_Lungs_1.png?v=1729938860","variant_ids":[50318075461931]},"available":true,"name":"BetterLungs® - 1-Pack","public_title":"1-Pack","options":["1-Pack"],"price":3995,"weight":50,"compare_at_price":null,"inventory_management":"shopify","barcode":"","featured_media":{"alt":null,"id":40111645131051,"position":1,"preview_image":{"aspect_ratio":1.0,"height":1500,"width":1500,"src":"\/\/www.trybetterbrand.com\/cdn\/shop\/files\/New_Lungs_1.png?v=1729938860"}},"requires_selling_plan":false,"selling_plan_allocations":[{"price_adjustments":[{"position":1,"price":3196}],"price":3196,"compare_at_price":3995,"per_delivery_price":3196,"selling_plan_id":114312249643,"selling_plan_group_id":"5128ca517a6f1f3e2404b20989474d72fe1bad98"},{"price_adjustments":[{"position":1,"price":3196}],"price":3196,"compare_at_price":3995,"per_delivery_price":3196,"selling_plan_id":114454298923,"selling_plan_group_id":"5128ca517a6f1f3e2404b20989474d72fe1bad98"}],"quantity_rule":{"min":1,"max":null,"increment":1}},{"id":50318075494699,"title":"3-Pack","option1":"3-Pack","option2":null,"option3":null,"sku":"BB-BLUC-CA-BXA3","requires_shipping":true,"taxable":true,"featured_image":null,"available":true,"name":"BetterLungs® - 3-Pack","public_title":"3-Pack","options":["3-Pack"],"price":8485,"weight":50,"compare_at_price":null,"inventory_management":"shopify","barcode":"","requires_selling_plan":false,"selling_plan_allocations":[{"price_adjustments":[{"position":1,"price":6788}],"price":6788,"compare_at_price":8485,"per_delivery_price":6788,"selling_plan_id":114312249643,"selling_plan_group_id":"5128ca517a6f1f3e2404b20989474d72fe1bad98"},{"price_adjustments":[{"position":1,"price":6788}],"price":6788,"compare_at_price":8485,"per_delivery_price":6788,"selling_plan_id":114454298923,"selling_plan_group_id":"5128ca517a6f1f3e2404b20989474d72fe1bad98"}],"quantity_rule":{"min":1,"max":null,"increment":1}}],"images":["\/\/www.trybetterbrand.com\/cdn\/shop\/files\/New_Lungs_1.png?v=1729938860","\/\/www.trybetterbrand.com\/cdn\/shop\/files\/3_607cefa2-e87d-45d7-95a5-b2ba2ebaef7d.png?v=1729939004","\/\/www.trybetterbrand.com\/cdn\/shop\/files\/4_8ff2a084-980e-4106-a90c-923fd188ebf6.png?v=1718299110","\/\/www.trybetterbrand.com\/cdn\/shop\/files\/2_e0db6bed-c8e5-4871-adf7-cab335bd25ab.png?v=1729939004"],"featured_image":"\/\/www.trybetterbrand.com\/cdn\/shop\/files\/New_Lungs_1.png?v=1729938860","options":["Bundles"],"media":[{"alt":null,"id":40111645131051,"position":1,"preview_image":{"aspect_ratio":1.0,"height":1500,"width":1500,"src":"\/\/www.trybetterbrand.com\/cdn\/shop\/files\/New_Lungs_1.png?v=1729938860"},"aspect_ratio":1.0,"height":1500,"media_type":"image","src":"\/\/www.trybetterbrand.com\/cdn\/shop\/files\/New_Lungs_1.png?v=1729938860","width":1500},{"alt":null,"id":40111652208939,"position":2,"preview_image":{"aspect_ratio":1.0,"height":1500,"width":1500,"src":"\/\/www.trybetterbrand.com\/cdn\/shop\/files\/3_607cefa2-e87d-45d7-95a5-b2ba2ebaef7d.png?v=1729939004"},"aspect_ratio":1.0,"height":1500,"media_type":"image","src":"\/\/www.trybetterbrand.com\/cdn\/shop\/files\/3_607cefa2-e87d-45d7-95a5-b2ba2ebaef7d.png?v=1729939004","width":1500},{"alt":"BetterLungs® - Betterbrand","id":35664943153451,"position":3,"preview_image":{"aspect_ratio":1.0,"height":1080,"width":1080,"src":"\/\/www.trybetterbrand.com\/cdn\/shop\/files\/4_8ff2a084-980e-4106-a90c-923fd188ebf6.png?v=1718299110"},"aspect_ratio":1.0,"height":1080,"media_type":"image","src":"\/\/www.trybetterbrand.com\/cdn\/shop\/files\/4_8ff2a084-980e-4106-a90c-923fd188ebf6.png?v=1718299110","width":1080},{"alt":null,"id":40111652143403,"position":4,"preview_image":{"aspect_ratio":1.0,"height":1500,"width":1500,"src":"\/\/www.trybetterbrand.com\/cdn\/shop\/files\/2_e0db6bed-c8e5-4871-adf7-cab335bd25ab.png?v=1729939004"},"aspect_ratio":1.0,"height":1500,"media_type":"image","src":"\/\/www.trybetterbrand.com\/cdn\/shop\/files\/2_e0db6bed-c8e5-4871-adf7-cab335bd25ab.png?v=1729939004","width":1500}],"requires_selling_plan":false,"selling_plan_groups":[{"id":"5128ca517a6f1f3e2404b20989474d72fe1bad98","name":"Subscription","options":[{"name":"Frequency","position":1,"values":["Deliver every 28 days","Deliver every 56 days"]}],"selling_plans":[{"id":114312249643,"name":"Deliver every 28 Days","description":"\n\u003cul style=\" list-style-type: none; \"\u003e\n      \u003cli\u003e\n        \u003cspan\u003e\u003csvg width=\"12\" height=\"10\" viewBox=\"0 0 12 10\" fill=\"none\" xmlns=\"http:\/\/www.w3.org\/2000\/svg\"\u003e\u003cpath d=\"M11.6855 0.248892C11.2947 -0.106312 10.6871 -0.0784741 10.33 0.314153L4.47391 6.76253L1.64477 3.88638C1.27131 3.50813 0.664605 3.50237 0.287325 3.87486C-0.090924 4.24638 -0.0966854 4.85406 0.275802 5.2323L3.81724 8.83232C3.99869 9.01663 4.24443 9.11936 4.5017 9.11936C4.50746 9.11936 4.51419 9.11936 4.51995 9.12033C4.78491 9.11457 5.03453 9.00128 5.21211 8.80545L11.7507 1.60542C12.1069 1.21177 12.0781 0.605065 11.6855 0.248892Z\" fill=\"#0F1F17\"\/\u003e\u003c\/svg\u003e\u003c\/span\u003e\n        20% off every order\n      \u003c\/li\u003e\n\u003cbr\u003e\n      \u003cli\u003e\n        \u003cspan\u003e\u003csvg width=\"12\" height=\"10\" viewBox=\"0 0 12 10\" fill=\"none\" xmlns=\"http:\/\/www.w3.org\/2000\/svg\"\u003e\u003cpath d=\"M11.6855 0.248892C11.2947 -0.106312 10.6871 -0.0784741 10.33 0.314153L4.47391 6.76253L1.64477 3.88638C1.27131 3.50813 0.664605 3.50237 0.287325 3.87486C-0.090924 4.24638 -0.0966854 4.85406 0.275802 5.2323L3.81724 8.83232C3.99869 9.01663 4.24443 9.11936 4.5017 9.11936C4.50746 9.11936 4.51419 9.11936 4.51995 9.12033C4.78491 9.11457 5.03453 9.00128 5.21211 8.80545L11.7507 1.60542C12.1069 1.21177 12.0781 0.605065 11.6855 0.248892Z\" fill=\"#0F1F17\"\/\u003e\u003c\/svg\u003e\u003c\/span\u003e\n        Pause, Cancel Or Update The Frequency Anytime\n      \u003c\/li\u003e\n\u003cbr\u003e\n      \u003cli\u003e\n        \u003cspan\u003e\u003csvg width=\"12\" height=\"10\" viewBox=\"0 0 12 10\" fill=\"none\" xmlns=\"http:\/\/www.w3.org\/2000\/svg\"\u003e\u003cpath d=\"M11.6855 0.248892C11.2947 -0.106312 10.6871 -0.0784741 10.33 0.314153L4.47391 6.76253L1.64477 3.88638C1.27131 3.50813 0.664605 3.50237 0.287325 3.87486C-0.090924 4.24638 -0.0966854 4.85406 0.275802 5.2323L3.81724 8.83232C3.99869 9.01663 4.24443 9.11936 4.5017 9.11936C4.50746 9.11936 4.51419 9.11936 4.51995 9.12033C4.78491 9.11457 5.03453 9.00128 5.21211 8.80545L11.7507 1.60542C12.1069 1.21177 12.0781 0.605065 11.6855 0.248892Z\" fill=\"#0F1F17\"\/\u003e\u003c\/svg\u003e\u003c\/span\u003e\n        Priority fulfilment\n      \u003c\/li\u003e\n\u003cbr\u003e\n      \u003cli\u003e\n        \u003cspan\u003e\u003csvg width=\"12\" height=\"10\" viewBox=\"0 0 12 10\" fill=\"none\" xmlns=\"http:\/\/www.w3.org\/2000\/svg\"\u003e\u003cpath d=\"M11.6855 0.248892C11.2947 -0.106312 10.6871 -0.0784741 10.33 0.314153L4.47391 6.76253L1.64477 3.88638C1.27131 3.50813 0.664605 3.50237 0.287325 3.87486C-0.090924 4.24638 -0.0966854 4.85406 0.275802 5.2323L3.81724 8.83232C3.99869 9.01663 4.24443 9.11936 4.5017 9.11936C4.50746 9.11936 4.51419 9.11936 4.51995 9.12033C4.78491 9.11457 5.03453 9.00128 5.21211 8.80545L11.7507 1.60542C12.1069 1.21177 12.0781 0.605065 11.6855 0.248892Z\" fill=\"#0F1F17\"\/\u003e\u003c\/svg\u003e\u003c\/span\u003e\n        FREE GIFT with every order\n      \u003c\/li\u003e\n    \u003c\/ul\u003e","options":[{"name":"Frequency","position":1,"value":"Deliver every 28 days"}],"recurring_deliveries":true,"price_adjustments":[{"order_count":null,"position":1,"value_type":"percentage","value":20}],"checkout_charge":{"value_type":"percentage","value":100}},{"id":114454298923,"name":"Deliver every 56 days","description":"\n\u003cul style=\" list-style-type: none; \"\u003e\n      \u003cli\u003e\n        \u003cspan\u003e\u003csvg width=\"12\" height=\"10\" viewBox=\"0 0 12 10\" fill=\"none\" xmlns=\"http:\/\/www.w3.org\/2000\/svg\"\u003e\u003cpath d=\"M11.6855 0.248892C11.2947 -0.106312 10.6871 -0.0784741 10.33 0.314153L4.47391 6.76253L1.64477 3.88638C1.27131 3.50813 0.664605 3.50237 0.287325 3.87486C-0.090924 4.24638 -0.0966854 4.85406 0.275802 5.2323L3.81724 8.83232C3.99869 9.01663 4.24443 9.11936 4.5017 9.11936C4.50746 9.11936 4.51419 9.11936 4.51995 9.12033C4.78491 9.11457 5.03453 9.00128 5.21211 8.80545L11.7507 1.60542C12.1069 1.21177 12.0781 0.605065 11.6855 0.248892Z\" fill=\"#0F1F17\"\/\u003e\u003c\/svg\u003e\u003c\/span\u003e\n        20% off every order\n      \u003c\/li\u003e\n\u003cbr\u003e\n      \u003cli\u003e\n        \u003cspan\u003e\u003csvg width=\"12\" height=\"10\" viewBox=\"0 0 12 10\" fill=\"none\" xmlns=\"http:\/\/www.w3.org\/2000\/svg\"\u003e\u003cpath d=\"M11.6855 0.248892C11.2947 -0.106312 10.6871 -0.0784741 10.33 0.314153L4.47391 6.76253L1.64477 3.88638C1.27131 3.50813 0.664605 3.50237 0.287325 3.87486C-0.090924 4.24638 -0.0966854 4.85406 0.275802 5.2323L3.81724 8.83232C3.99869 9.01663 4.24443 9.11936 4.5017 9.11936C4.50746 9.11936 4.51419 9.11936 4.51995 9.12033C4.78491 9.11457 5.03453 9.00128 5.21211 8.80545L11.7507 1.60542C12.1069 1.21177 12.0781 0.605065 11.6855 0.248892Z\" fill=\"#0F1F17\"\/\u003e\u003c\/svg\u003e\u003c\/span\u003e\n        Pause, Cancel Or Update The Frequency Anytime\n      \u003c\/li\u003e\n\u003cbr\u003e\n      \u003cli\u003e\n        \u003cspan\u003e\u003csvg width=\"12\" height=\"10\" viewBox=\"0 0 12 10\" fill=\"none\" xmlns=\"http:\/\/www.w3.org\/2000\/svg\"\u003e\u003cpath d=\"M11.6855 0.248892C11.2947 -0.106312 10.6871 -0.0784741 10.33 0.314153L4.47391 6.76253L1.64477 3.88638C1.27131 3.50813 0.664605 3.50237 0.287325 3.87486C-0.090924 4.24638 -0.0966854 4.85406 0.275802 5.2323L3.81724 8.83232C3.99869 9.01663 4.24443 9.11936 4.5017 9.11936C4.50746 9.11936 4.51419 9.11936 4.51995 9.12033C4.78491 9.11457 5.03453 9.00128 5.21211 8.80545L11.7507 1.60542C12.1069 1.21177 12.0781 0.605065 11.6855 0.248892Z\" fill=\"#0F1F17\"\/\u003e\u003c\/svg\u003e\u003c\/span\u003e\n        Priority fulfilment\n      \u003c\/li\u003e\n\u003cbr\u003e\n      \u003cli\u003e\n        \u003cspan\u003e\u003csvg width=\"12\" height=\"10\" viewBox=\"0 0 12 10\" fill=\"none\" xmlns=\"http:\/\/www.w3.org\/2000\/svg\"\u003e\u003cpath d=\"M11.6855 0.248892C11.2947 -0.106312 10.6871 -0.0784741 10.33 0.314153L4.47391 6.76253L1.64477 3.88638C1.27131 3.50813 0.664605 3.50237 0.287325 3.87486C-0.090924 4.24638 -0.0966854 4.85406 0.275802 5.2323L3.81724 8.83232C3.99869 9.01663 4.24443 9.11936 4.5017 9.11936C4.50746 9.11936 4.51419 9.11936 4.51995 9.12033C4.78491 9.11457 5.03453 9.00128 5.21211 8.80545L11.7507 1.60542C12.1069 1.21177 12.0781 0.605065 11.6855 0.248892Z\" fill=\"#0F1F17\"\/\u003e\u003c\/svg\u003e\u003c\/span\u003e\n        FREE GIFT with every order\n      \u003c\/li\u003e\n    \u003c\/ul\u003e","options":[{"name":"Frequency","position":1,"value":"Deliver every 56 days"}],"recurring_deliveries":true,"price_adjustments":[{"order_count":null,"position":1,"value_type":"percentage","value":20}],"checkout_charge":{"value_type":"percentage","value":100}}],"app_id":"5284869"}],"content":"\u003cdiv class=\"shogun-root\" data-shogun-id=\"65713be66e6e8200c9c9f312\" data-shogun-site-id=\"98317b31-4b14-4050-8a4b-f636e2b329ab\" data-shogun-page-id=\"65713be66e6e8200c9c9f312\" data-shogun-page-version-id=\"65713c832bc26700dbd87725\" data-shogun-platform-type=\"shopify\" data-shogun-variant-id=\"65713c832bc26700dbd87778\" data-shogun-page-type=\"product\" data-shogun-power-up-type=\"\" data-shogun-power-up-id=\"\" data-region=\"main\"\u003e \u003cdiv id=\"s-6b023b97-1f15-4733-a1b4-835a35a3ca15\" class=\"shg-c \"\u003e \u003cdiv class=\"shg-rich-text shg-theme-text-content\"\u003e\u003cp\u003eDetox Blend with Mullein\u003c\/p\u003e\u003c\/div\u003e \u003c\/div\u003e \u003c\/div\u003e"});  </script></section>


