<!-- START collection-nav-item.liquid -->
<button class="collection-nav-item {% if first %}collection-nav-item--active{% endif %}" onclick="handleCollectionNavItemClick(this, '{{ config.collection_nav_item_tag }}')">
  <span class="collection-nav-item__title">{{ config.collection_nav_item_title }}</span>
</button>
<!-- END collection-nav-item.liquid -->