<!-- start shipping-bar-phone.liquid (SNIPPET) -->
<section aria-label="Contact Phone">
{%- assign phone = settings.text_tel -%}
<div class="shipping-bar__item shipping-bar__item--small">
  {%- unless settings.disable_shippingbar_phone or phone == blank -%}
    {%- if section.settings.enable_link_shippingbar_text_phone -%}
      <a href="tel:{{- phone | remove: ' ' | remove: '-' | remove: '(' | remove: ')' -}}" title="Store Phone" class="shipping-bar__link">
        {%- if section.settings.enable_phone_icon_mobile -%}
          {%- render 'icon-phone' -%}
        {%- else -%}
          <span class="no-mobile">{%- render 'icon-phone' -%}</span>
        {%- endif -%}
        <span class="no-mobile">{{- phone -}}</span>
      </a>
    {%- else -%}
      <div class="shipping-bar__item--wrapper no-mobile">
        {%- if section.settings.enable_phone_icon_mobile -%}
          {%- render 'icon-phone' -%}
        {%- else -%}
          <span class="no-mobile">{%- render 'icon-phone' -%}</span>
        {%- endif -%}
        <span>{{- phone -}}</span>
      </div>
    {%- endif -%}
  {%- endunless -%}
</div>
</section>