<!-- start shipping-bar-informational (SNIPPET) -->
<section aria-label="Shipping Information">
{% render 'shipping-bar-email' %}

{%- if message != blank -%}
  <div class="shipping-bar__item">
    <div class="shipping-bar__message">
      {{- message -}}
    </div>
  </div>
{%- endif -%}

{% render 'shipping-bar-phone' %}
</section>
